<template>
  <div>
    <div class="container">
      <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">{{message}}</div>
      <h2>Articles dans la catégorie {{ categorie.name }}</h2>
      <div class="flex">
        <ArticleThumbComponent 
          v-for="article in articles"
          v-bind:key="article.id"
          v-bind:article="article"
        ></ArticleThumbComponent>
      </div>
      <div v-if="page">
        <ul class="pagination">
          <li v-if="ppage" class="page-item"><a class="page-link" @click.prevent="goToPrevious">Previous</a></li>
          <li v-if="ppage" class="page-item"><a class="page-link" @click.prevent="goToPrevious">{{page-1}}</a></li>
          <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
          <li v-if="npage" class="page-item"><a class="page-link" @click.prevent="goToNext">{{page+1}}</a></li>
          <li v-if="npage" class="page-item"><a class="page-link" @click.prevent="goToNext">Next</a></li>
        </ul>
      </div>
    </div>
    <FooterComponentNoS/>
  </div>
</template>

<script>
import axios from 'axios';
import ArticleThumbComponent from '../../components/ArticleThumb.vue';
import CategorieService from '../../services/categorie.service';
import FooterComponentNoS from "../../components/FooterNoS.vue";

const API_URL = 'https://blog.lockmark.fr';



export default {
  data() {
    return {
      posts: [],
      cat: '',
      page:null,
      ppage:null,
      npage:null,
      message: '',
      successful: false,
    };
  },
  components:{
    ArticleThumbComponent,
    FooterComponentNoS,
  },
  computed:{
    articles: function () {
        return this.posts;
    },
    categorie(){
      return this.cat;
    }
  },
  watch: { $route(to, from) { 
      if(to !== from){
        this.update();
      } 
    } 
  },
  mounted() {
    return axios.get(API_URL + "/api/categories/" + this.$route.params.id + "/articles?isPublished=true" ).then(
        response => {
          this.posts = response.data["hydra:member"];
          if(response.data["hydra:view"]){
            this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
            this.ppage = response.data["hydra:view"]["hydra:previous"];
            this.npage = response.data["hydra:view"]["hydra:next"];
          }
        },
        error => {
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      ).then(CategorieService.getOne(this.$route.params.id).then(
        response => {
          this.cat = response.data;
        },
        error => {
            this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      ))
  },
  methods: {
    update(){
      return axios.get(API_URL + "/api/categories/" + this.$route.params.id + "/articles?isPublished=true" ).then(
        response => {
          this.posts = response.data["hydra:member"];
          if(response.data["hydra:view"]){
            this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
            this.ppage = response.data["hydra:view"]["hydra:previous"];
            this.npage = response.data["hydra:view"]["hydra:next"];
          }
        },
        error => {
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      ).then(CategorieService.getOne(this.$route.params.id).then(
        response => {
          this.cat = response.data;
        },
        error => {
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      ))
    },
      goToNext(){
        return axios.get(API_URL + this.npage ).then(
          response => {
            this.posts = response.data["hydra:member"];
            if(response.data["hydra:view"]){
              this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
              this.ppage = response.data["hydra:view"]["hydra:previous"];
              this.npage = response.data["hydra:view"]["hydra:next"];
            }
          },
          error => {
            this.message = error.response.data["hydra:description"] || error.response.data.message;
          }
        )
      },
      goToPrevious(){
        return axios.get(API_URL + this.ppage ).then(
          response => {
            this.posts = response.data["hydra:member"];
            if(response.data["hydra:view"]){
              this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
              this.ppage = response.data["hydra:view"]["hydra:previous"];
              this.npage = response.data["hydra:view"]["hydra:next"];
            }
          },
          error => {
            this.message = error.response.data["hydra:description"] || error.response.data.message;
          }
        )
      }
    
  }
};
</script>

<style scoped lang="scss">
.container{
  min-height:90vh;
  padding-top: 6rem;
}
.flex{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap:wrap;
}
h2 {
  margin: 40px 0 40px;
  text-align:center;
  color:white;
}
.pagination{
  justify-content:center;
}
</style>
