<template>
  <div class="main">
      <div class="sidebar" id="sidebar">
        <SidebarComponent/>
      </div>
      <div class="menu btn" id="menu" @click.prevent="toggle"><font-awesome-icon icon="plus" /></div>
      <div class="content" id="content">
        <div class="tot">
          <HomeAdminComponent/>
        </div>
      </div>
        <FooterComponent/>
    </div>
</template>

<script>
import SidebarComponent from '../../components/Sidebar.vue';
import HomeAdminComponent from '../../components/HomeAdmin.vue';
import FooterComponent from "../../components/Footer.vue";

export default {

  components:{
    SidebarComponent,
    HomeAdminComponent,
    FooterComponent,
  },
  methods:{
    toggle(){
      const sidebar = document.getElementById("sidebar");
      const button = document.getElementById("menu");
      const content = document.getElementById("content");
      sidebar.classList.toggle("full");
      content.classList.toggle("none");
      button.classList.toggle("rotate");
    }
  }
};
</script>

<style scoped lang="scss">
  .main{
    position: static;

    .sidebar{
      position: fixed;
      width: 20vw;
      height:100vh;
      background-color: #455a64;
      overflow-y:auto;
      padding-top: 6rem;
      transition:0.4s;

      @media (max-width: 800px) {
        width:100vw;
        max-width: 100vw;
        transform: translate(-100vw);
      }
    }
    .content{
      position: relative;
      max-width: 80vw;
      min-height:90vh;
      margin-left: 20vw;
      background-color:#607d8b;
      padding-top: 6rem;
      transition:0.4s;

      @media (max-width: 800px) {
        width:100%;
        margin: 0;
        max-width: 100vw;
         
      }

      .tot{
        min-height:100%;
      }
    }

    .menu{
      position:fixed;
      bottom:15px;
      right:5px;
      background-color:#455a64;
      right:15px;
      z-index:1000;
      display:none;
      transition:0.4s;

      @media (max-width: 800px) {
        display:block;
      }
    }

    .full{
      transform: translate(0);
    }

    .none{
      transform: translate(-100vw);
    }

    .rotate{
      transform: rotate(45deg);
      background-color:#607d8b;
    }
  }
</style>

