<template>
  <div class="main">
      <div class="sidebar" id="sidebar">
        <SidebarComponent/>
      </div>
      <div class="menu btn" id="menu" @click.prevent="toggle"><font-awesome-icon icon="plus" /></div>
      <div class="content" id="content">
        <div class="tot">
          <div class="container">
            <h2>Mes Articles</h2>
              <div class="alert alert-success" v-if="message">{{ message }}</div>
              <router-link class="btn btn-primary btn-lg my-btn" to="/admin/article/create">Nouvel Article</router-link>
              <div>
                <MyPostsComponent v-if="currentUser"/>
              </div>
            </div>
          </div>
        </div>
        <FooterComponent/>
      </div>
</template>

<script>
import MyPostsComponent from '../../components/MyPosts.vue';
import FooterComponent from "../../components/Footer.vue";
import SidebarComponent from '../../components/Sidebar.vue';

export default {

  data(){
    return{
      message: false
    }
  },
  components:{
    SidebarComponent,
    MyPostsComponent,
    FooterComponent,
  },
  methods:{
    toggle(){
      const sidebar = document.getElementById("sidebar");
      const button = document.getElementById("menu");
      const content = document.getElementById("content");
      sidebar.classList.toggle("full");
      content.classList.toggle("none");
      button.classList.toggle("rotate");
    }
  },
  computed: {
    currentUser() {
      if(this.$store.state.auth.user){
        return this.$store.state.auth.user;
      }
      return false;
    }  
  },
  mounted(){
    let message = localStorage.getItem('message');
    if(message !== null){
      this.message = message;
    }
    localStorage.removeItem('message');

  }
};
</script>

<style scoped lang="scss">
.main{
    position: static;

    h2{
      color:white;
    }

    .my-btn{
      margin-bottom: 2%;
    }

    .sidebar{
      position: fixed;
      width: 20vw;
      height: 100vh;
      background-color: #455a64;
      overflow-y:auto;
      padding-top: 6rem;
      transition:0.4s;

      @media (max-width: 800px) {
        width:100vw;
        max-width: 100vw;
        transform: translate(-100vw);
      }
    }

    .content{
      position: relative;
      max-width: 80vw;
      min-height: 90vh;
      margin-left: 20vw;
      background-color:#607d8b;
      padding-top: 6rem;
      transition:0.4s;

      @media (max-width: 800px) {
        width:100%;
        margin: 0;
        max-width: 100vw;
         
      }

      .tot{
        min-height:100%;

        .container{
          margin-top:0;
          background-color:#607d8b;
          h2{
            text-align:center;
          }
          .btn{
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:200px;
          }
        }
      }
    }

    .menu{
      position:fixed;
      bottom:15px;
      right:5px;
      background-color:#455a64;
      right:15px;
      z-index:1000;
      display:none;
      transition:0.4s;

      @media (max-width: 800px) {
        display:block;
      }
    }

    .full{
      transform: translate(0);
    }

    .none{
      transform: translate(-100vw);
    }

    .rotate{
      transform: rotate(45deg);
      background-color:#607d8b;
    }
  }
</style>