<template>
	<div class="main">
      <div class="sidebar" id="sidebar">
        <SidebarComponent/>
      </div>
      <div class="menu btn" id="menu" @click.prevent="toggle"><font-awesome-icon icon="plus" /></div>
      <div class="content" id="content">
      	<div class="container">
      	  <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">{{message}}</div>
      	  <h3 class="display-6">Visualisation d'un commentaire</h3>
      	  <p class="lead">{{ comment.content }}</p>
      	  <div class="form-group">
      	  	<button class="btn btn-danger btn-lg" @click.prevent="supprime(comment.id)" >Supprimer</button>
      	  </div>
      	</div>
      </div>
        <FooterComponent/>
    </div>
</template>

<script>

import CommentService from '../../services/comment.service';
import SidebarComponent from '../../components/Sidebar.vue';
import FooterComponent from "../../components/Footer.vue";
	
export default {

	data(){
		return{
			comment:{},
			successful: false,
			message:'',
		}
	},
	computed: {
		
	},
	mounted(){
		CommentService.getOne(this.$route.params.id).then(
        	response => {
          		this.comment = response.data;
        	},
        	error => {
        	  	this.message = error.response.data["hydra:description"] || error.response.data.message;
        	}
      	)
	},
	components:{
		SidebarComponent,
		FooterComponent,
	},
	methods: {
		supprime(id){
			CommentService.delete(id).then(
				() => {
			        localStorage.setItem('message', 'Commentaire supprimé avec succès!');
	            	this.$router.push('/admin/comments');
				},
				error => {
			        this.message = error.response.data["hydra:description"] || error.response.data.message;
			        this.successful = false;
			    }
			);
		},
		toggle(){
			const sidebar = document.getElementById("sidebar");
			const button = document.getElementById("menu");
			const content = document.getElementById("content");
			sidebar.classList.toggle("full");
			content.classList.toggle("none");
			button.classList.toggle("rotate");
		}
	}
};

</script>

<style scoped lang="scss">

	.main{
		position: static;

		.sidebar{
			position: fixed;
			max-width: 20vw;
			height:100vh;
			background-color: #455a64;
			overflow-y:auto;
			padding-top: 6rem;
			transition:0.4s;

			@media (max-width: 800px) {
			  width:100vw;
			  max-width: 100vw;
			  transform: translate(-100vw);
			}
		}

		.content{
			position: relative;
			max-width: 80vw;
			min-height:90vh;
			margin-left: 20vw;
			background-color:#607d8b;
			padding-top: 6rem;
			transition:0.4s;

			@media (max-width: 800px) {
			  width:100%;
			  margin: 0;
			  max-width: 100vw;
			   
			}

			.container{
				min-height:100%;
			  	border: 1px solid lightgrey;
			  	border-radius:0.25rem;
			  	box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
			  	-webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
			  	-moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
			  	margin-top:2%;
			  	padding-bottom:2%;
			  	margin-bottom:2%;
			  	background-color:#cfd8dc;

			  	@media (max-width: 800px) {
			  	  width:95%;
			  	}

			  	h3{
			  		text-align:center;
			  	}

			  	.form-group{
			  		text-align:center;
			  	}

			  	button{
			  		width:200px;
			  	}
			}

		}

		.menu{
			position:fixed;
			bottom:15px;
			right:5px;
			background-color:#455a64;
			right:15px;
			z-index:1000;
			display:none;
			transition:0.4s;

			@media (max-width: 800px) {
			  display:block;
			}
		}

		.full{
			transform: translate(0);
		}

		.none{
			transform: translate(-100vw);
		}

		.rotate{
			transform: rotate(45deg);
			background-color:#607d8b;
		}

	}

</style>