<template>
		<div class="main">
	      <div class="sidebar" id="sidebar">
	        <SidebarComponent/>
	      </div>
	      <div class="menu btn" id="menu" @click.prevent="toggle"><font-awesome-icon icon="plus" /></div>
	      <div class="content" id="content">
	      		<div class="tot">
	      			<div class="container">
	      			  <div v-if="message" class="alert-danger">{{message}}</div>
	      			  <h3 class="display-6">{{ image.contentUrl }}</h3>
	      			  <div class="img-cont"><img class="img-fluid" :src="'https://blog.lockmark.fr' + image.contentUrl" alt="image"></div>
	      			  <div class="form-group">
	      			  	<button class="btn btn-primary btn-lg" @click.prevent="supprime(image.id)">Supprimer</button>
	      			  </div>
	      			</div>
	      		</div>
	      </div>
	        <FooterComponent/>
	    </div>
</template>

<script>

import ImageService from '../../services/image.service';
import FooterComponent from "../../components/Footer.vue";
import SidebarComponent from '../../components/Sidebar.vue';
	
export default {

	data(){
		return{
			image:{},
			message:'',
		}
	},
	components:{
		FooterComponent,
		SidebarComponent,
	},
	mounted(){
		ImageService.getOne(this.$route.params.id).then(
        	response => {
          		this.image = response.data;
        	},
        	error => {
        	  	this.message = error.response.data["hydra:description"] || error.response.data.message;
        	}
      	)
	},
	methods:{
		supprime(id){
			ImageService.delete(id).then(
        		() => {
	            	localStorage.setItem('message', 'Image supprimée avec succès!');
	            	this.$router.push('/admin/images');
	          	},
	          	error => {
	            	this.message = error.response.data["hydra:description"] || error.response.data.message;
	          	}
      		)
		},
		toggle(){
			const sidebar = document.getElementById("sidebar");
			const button = document.getElementById("menu");
			const content = document.getElementById("content");
			sidebar.classList.toggle("full");
			content.classList.toggle("none");
			button.classList.toggle("rotate");
		}
	}
};

</script>

<style scoped lang="scss">

	.main{
		position: static;

		.sidebar{
			position: fixed;
			max-width: 20vw;
			height:100vh;
			background-color: #455a64;
			overflow-y:auto;
			padding-top: 6rem;
			transition:0.4s;

			@media (max-width: 800px) {
			  width:100vw;
			  max-width: 100vw;
			  transform: translate(-100vw);
			}
		}

		.content{
			position: relative;
			max-width: 80vw;
			min-height:90vh;
			margin-left: 20vw;
			background-color:#607d8b;
			padding-top: 6rem;
			transition:0.4s;

			@media (max-width: 800px) {
			  width:100%;
			  margin: 0;
			  max-width: 100vw;
			   
			}

			.container{
				  	border: 1px solid lightgrey;
				  	border-radius:0.25rem;
				  	box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
				  	-webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
				  	-moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
				  	padding-top:2%;
				  	margin-top:2%;
				  	padding-bottom:2%;
				  	margin-bottom:2%;
				  	background-color:#cfd8dc;

				  	@media (max-width: 800px) {
				  	  width:95%;
				  	}

				  	h3{
				  		text-align:center;
				  		word-break: break-all;
				  	}

				  	.img-cont{
				  		width:50%;
				  		margin:auto;
				  		text-align:center;
				  		margin-bottom:2%;

				  		img{
				  			border:1px solid lightgrey;
				  			border-radius:0.25rem;
				  			box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
				  			-webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
				  			-moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
				  			margin:2%;
				  			padding:2%;
				  		}
				  	}


				  	.form-group{
				  		text-align:center;
				  	}

				  	button{
				  		width:200px;
				  	}
				}
				.tot{
					min-height:100%;
				}

		}

		.menu{
			position:fixed;
			bottom:15px;
			right:5px;
			background-color:#455a64;
			right:15px;
			z-index:1000;
			display:none;
			transition:0.4s;

			@media (max-width: 800px) {
			  display:block;
			}
		}

		.full{
			transform: translate(0);
		}

		.none{
			transform: translate(-100vw);
		}

		.rotate{
			transform: rotate(45deg);
			background-color:#607d8b;
		}

	}
</style>