<template>
	<div>
		<div class="content">
			<div class="container">
				<h3>Conditions générales d'utilisation</h3>
				<div>
					<p>mes conditions</p>
				</div>
			</div>
			
		</div>
		<FooterComponentNoS/>
	</div>
	
</template>

<script>
import FooterComponentNoS from "../components/FooterNoS.vue";

export default {
  name: 'CGI',
  components:{
    FooterComponentNoS
  }
};
</script>

<style scoped lang="scss">
	.content{
		padding-top: 6rem;
		min-height: 90vh;

			h3{
			  padding-top:5%;
			  text-align:center;
			}
			.container{
					height: 100%;
		      border: 1px solid lightgrey;
		      border-radius:0.25rem;
		      box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
		      -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
		      -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
		      background-color:#cfd8dc;
		      margin-top:2%;
		  }
		  .cont-tb{
		    display:flex;
		    justify-content:space-around;

		    @media (max-width: 800px) {
		      flex-direction:column;
		    }
		  }

	}
	</style>