<template>
	<div>	
	  <div class="content">
	    <HomeComponent/>
	  </div>
	  <FooterComponentNoS/>
	</div>
</template>

<script>
import HomeComponent from '../components/Home.vue';
import FooterComponentNoS from "../components/FooterNoS.vue";

export default {
  name: 'Home',
  components:{
    HomeComponent,
    FooterComponentNoS
  }
};
</script>

<style scoped lang="scss">
.content{
	min-height: 90vh;
  padding-top: 6rem;

   @media (max-width: 800px) {
      width:90%;
      
  }
}

</style>
