<template>
	<div>
		<div class="tot">
        	<div class="container">
        		<h3>Résultats de la recherche</h3>
        		<div>
        			<h4>Par titre</h4>
        			<div v-if="resltsTitle.length === 0" class="nores">
        				{{ nores }}
        			</div>
        			<div class="flex">
        				<ArticleThumbComponent 
        				  v-for="article in resltsTitle"
        				  v-bind:key="article.id"
        				  v-bind:article="article"
        				></ArticleThumbComponent>
        			</div>
        		</div>
        		<hr>
        		<div>
        			<h4>Par tag</h4>
        			<div v-if="resltsTags.length === 0" class="nores">
        				{{ nores }}
        			</div>
        			<div class="flex">
        				<ArticleThumbComponent 
        				  v-for="art in resltsTags"
        				  v-bind:key="art.id"
        				  v-bind:article="art"
        				></ArticleThumbComponent>
        			</div>
        		</div>
        	</div>
      	</div>
		<FooterComponentNoS/>
	</div>
</template>

<script>

import ArticleThumbComponent from '../components/ArticleThumb.vue';
import FooterComponentNoS from "../components/FooterNoS.vue";

export default {

	data(){
		return{
			nores:"Aucun résultat",
		}
	},
	computed:{
		resltsTitle(){
			if(this.$store.state.search.search.resultsTitle){
			  	return this.$store.state.search.search.resultsTitle;
			}
			return false;
		},
		resltsTags(){
			if(this.$store.state.search.search.resultsTags){
			  	return this.$store.state.search.search.resultsTags;
			}
			return false;
		}
	},
	components:{
	  ArticleThumbComponent,
	  FooterComponentNoS,
	},
};
	
</script>

<style scoped lang="scss">
	.tot{
		min-height: 90vh;
		padding-top: 6rem; 
	}

	.nores{
		color:white;
		text-align:center;
		font-size:120%;
	}

	.flex{
	  display:flex;
	  flex-wrap: wrap;
	  flex-direction:row;
	  justify-content:space-around;
	}

	h4,h3{
		text-align: center;
		color: white;
	}

	h3{
		margin-top:2%;
	}
</style>