<template>
	<div class="main">
	    <div class="sidebar" id="sidebar">
	      <SidebarComponent/>
	    </div>
	    <div class="menu btn" id="menu" @click.prevent="toggle"><font-awesome-icon icon="plus" /></div>
	    <div class="content"  id="content">
			<div class="container">
				<h3>Modification du tag {{ tagname }}</h3>
				<div
				  	v-if="message"
				  	class="alert"
				  	:class="successful ? 'alert-success' : 'alert-danger'"
					>{{message}}
				</div>
				<form name="form" @submit.prevent="handleRegister">
					<div class="form-group">
					  	<label>Nom</label>
					  	<input v-model="$v.newtag.$model" type="text" class="form-control" name="tag"/>
					  	<div class="alert alert-danger" v-if="!$v.newtag.required && $v.newtag.$dirty">Ce champ doit être rempli</div>
					  	<div class="alert alert-danger" v-if="!$v.newtag.alpha && $v.newtag.$dirty">Le Tag ne doit contenir que des lettres</div>
					  	<div class="alert alert-danger" v-if="!$v.newtag.minLength  && $v.newtag.$dirty">Le Tag doit avoir au moins {{$v.newtag.$params.minLength.min}} caractères.</div>
					  	<div class="alert alert-danger" v-if="!$v.newtag.maxLength  && $v.newtag.$dirty">Le Tag doit avoir maximum {{$v.newtag.$params.maxLength.max}} caractères.</div>
					</div> 	
					<button class="btn btn-primary btn-block btn-lg" :disabled="loading">
					    <span v-show="loading" class="spinner-border spinner-border-sm"></span>
					    <span>Enregistrer</span>
					</button>
				</form>
			</div>
		</div>
		<FooterComponent/>
	</div>
</template>

<script>

import TagService from '../../services/tag.service';
import SidebarComponent from '../../components/Sidebar.vue';
import { required, minLength, maxLength, alpha } from 'vuelidate/lib/validators';
import FooterComponent from "../../components/Footer.vue";
	
export default {

	data(){
		return{
			tag:{},
			tagname:'',
			newtag:'',
			submitted: false,
			successful: false,
			message: '',
			loading:false,
		}
	},
	components:{
		SidebarComponent,
		FooterComponent,
	},
	mounted(){
		TagService.getOne(this.$route.params.id).then(
        	response => {
          		this.tag = response.data;
          		this.tagname = response.data.label;
          		this.newtag = this.tagname;
        	},
        	error => {
        	  	this.message = error.response.data["hydra:description"] || error.response.data.message;
        	}
      	)
	},
	//Validations du form coté client
	validations: {
	  newtag: {
	    required,
	    minLength: minLength(2),
	    maxLength: maxLength(75),
	    alpha
	  }
	},
	methods: {
	  	handleRegister() {
	    	this.message = '';
	    	this.submitted = true;
	    	this.loading = true;
	    	this.tag.label = this.newtag;
        	this.$v.$touch()
	    	if (!this.$v.$invalid) {
	    	    TagService.update(this.$route.params.id, this.tag).then(
	    	      	response => {
	    	        	this.message = "Tag modifiée avec succès!";
	    	        	this.successful = true;
	   		        	this.tagname = response.data.label;
	        	    	this.$store.dispatch('tags/set');
	        	    	this.loading = false;
	        		},
	        		error => {
	            		this.message = error.response.data["hydra:description"] || error.response.data.message;
	            		this.successful = false;
	            		this.loading = false;
	          		}
	        	);
	    	}
	  	},
	  	toggle(){
	  		const sidebar = document.getElementById("sidebar");
	  		const button = document.getElementById("menu");
	  		const content = document.getElementById("content");
	  		sidebar.classList.toggle("full");
	  		content.classList.toggle("none");
	  		button.classList.toggle("rotate");
	  	}
	}
};

</script>

<style scoped lang="scss">
	.main{
			position: static;

			.sidebar{
				position: fixed;
				max-width: 20vw;
				height:100vh;
				background-color: #455a64;
				overflow-y:auto;
				padding-top: 6rem;
				transition:0.4s;

				@media (max-width: 800px) {
				  width:100vw;
				  max-width: 100vw;
				  transform: translate(-100vw);
				}
			}
			.content{
				position: relative;
				max-width: 80vw;
				min-height:90vh;
				margin-left: 20vw;
				background-color:#607d8b;
				padding-top:6rem;
				transition:0.4s;

				@media (max-width: 800px) {
				  width:100%;
				  margin: 0;
				  max-width: 100vw;
				   
				}

				h3{
					padding-top:5%;
					text-align:center;
				}

				button{
					margin-top:2%;
					margin-bottom:2%;
				}

				.container{
				  	border: 1px solid lightgrey;
				  	border-radius:0.25rem;
				  	box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
				  	-webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
				  	-moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
				  	background-color:#cfd8dc;

				  	@media (max-width: 800px) {
				  	  width:95%;
				  	}
				}


			}

			.menu{
				position:fixed;
				bottom:15px;
				right:5px;
				background-color:#455a64;
				right:15px;
				z-index:1000;
				display:none;
				transition:0.4s;

				@media (max-width: 800px) {
				  display:block;
				}
			}

			.full{
				transform: translate(0);
			}

			.none{
				transform: translate(-100vw);
			}

			.rotate{
				transform: rotate(45deg);
				background-color:#607d8b;
			}
		}
</style>