<template>
	<div>
		<div class="content">
			<div class="container">
			  <h3 class="display-6">{{ article.title }}</h3>
			  <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">{{message}}</div>
			  <div class="lead" :inner-html.prop="article.content"></div>
			  <div class="form-group">
			  	<button v-if="article.isPublished === false && showAdminRoutes" class="btn btn-primary" @click.prevent="handleRegister">Publier</button>
			  	<button v-if="article.isPublished && showAdminRoutes" class="btn btn-primary" @click.prevent="unpublish">Dépublier</button>
			  	<button v-if="article.isPublished && showEditorRoutes && showAdminRoutes === false" class="btn btn-primary" @click.prevent="unpublish">Dépublier</button>
			  	<button v-if="article.isPublished === false && showEditorRoutes && !article.isSubmited && showAdminRoutes === false" class="btn btn-primary" @click.prevent="submission">Soumettre pour publication</button>
			  	<button v-if="article.isPublished === false && showEditorRoutes && article.isSubmited && showAdminRoutes === false" class="btn btn-primary" @click.prevent="unSubmission">Ne plus Soumettre</button>
			  </div>
			  <CommentsComponent :articleId="article.id" :comments="article.comments" @update="update()"/>
			</div>
			
		</div>
		<FooterComponentNoS/>
	</div>
</template>

<script>

import PostService from '../../services/post.service';
import CommentsComponent from '../../components/Comments.vue';
import FooterComponentNoS from "../../components/FooterNoS.vue";
	
export default {

	data(){
		return{
			article:{},
			message: '',
			successful: false,
			submitted: false,
			published: '',
		}
	},
	computed: {
		currentUser() {
		  if(this.$store.state.auth.user){
		    return this.$store.state.auth.user;
		  }
		  return false;
		},
		showAdminRoutes() {
		  if (this.currentUser && this.currentUser.roles.includes('ROLE_ADMIN')) {
		    return true;
		  }
		  else if (this.currentUser && this.currentUser.roles.includes('ROLE_SUPER_ADMIN')) {
		    return true;
		  }
		  else{
		  	return false;
		  }
		},
		showEditorRoutes() {
		  if (this.currentUser && this.currentUser.roles.includes('ROLE_EDITOR')) {
		    return true;
		  }
		  return false;
		}
	},
	components:{
		CommentsComponent,
		FooterComponentNoS,
	},
	mounted(){
		PostService.getOne(this.$route.params.id).then(
        	response => {
          		this.article = response.data;
        	},
        	error => {
        	 	this.message = error.response.data["hydra:description"] || error.response.data.message;
        	}
      	)
	},
	methods: {
		update(){
			PostService.getOne(this.$route.params.id).then(
        		response => {
          			this.article = response.data;
        		},
        		error => {
        		 	this.message = error.response.data["hydra:description"] || error.response.data.message;
        		}
      		)
		},
		unpublish(){
			this.message = '';
			this.submitted = true;
			PostService.updateStatus(this.$route.params.id, false).then(
			    () => {
			        this.message = "Article dépublié avec succès!";
			        this.successful = true;
			        this.update();
			    },
			    error => {
			        this.message = error.response.data["hydra:description"] || error.response.data.message;
			        this.successful = false;
			    }
			);
		},
		submission(){
			this.message = '';
			this.submitted = true;
			PostService.submit(this.$route.params.id, true).then(
			    () => {
			        this.message = "Article soumit avec succès!";
			        this.successful = true;
			        this.update();
			    },
			    error => {
			        this.message = error.response.data["hydra:description"] || error.response.data.message;
			        this.successful = false;
			    }
			);
		},
		unSubmission(){
			this.message = '';
			this.submitted = true;
			PostService.Submit(this.$route.params.id, false).then(
			    () => {
			        this.message = "Article déssoumit avec succès!";
			        this.successful = true;
			        this.update();
			    },
			    error => {
			        this.message = error.response.data["hydra:description"] || error.response.data.message;
			        this.successful = false;
			    }
			); 
		},
		handleRegister(){
			this.message = '';
			this.submitted = true;
			PostService.updateStatus(this.$route.params.id, true).then(
			    () => {
			        this.message = "Article publié avec succès!";
			        this.successful = true;
			        this.update();
			    },
			    error => {
			        this.message = error.response.data["hydra:description"] || error.response.data.message;
			        this.successful = false;
			    }
			);
		}	
	}
};

</script>

<style scoped lang="scss">
.content{
	padding-top: 6rem;
	min-height: 90vh;

	.container{
	  	border: 1px solid lightgrey;
	  	border-radius:0.25rem;
	  	box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
	  	-webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
	  	-moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
	  	padding-top: 2%;
	  	height: 100%;
	  	margin-top:2%;
	  	padding-bottom:2%;
	  	margin-bottom:2%;
	  	background-color:#cfd8dc;

	  	h3{
	  		text-align:center;
	  	}

	  	.form-group{
	  		text-align:center;
	  	}

	  	button{
	  		width:200px;
	  	}

	  	
	}

}
	
</style>