<template>
	<div class="main">
	    <div class="sidebar" id="sidebar">
	      <SidebarComponent/>
	    </div>
	    <div class="menu btn" id="menu" @click.prevent="toggle"><font-awesome-icon icon="plus" /></div>
	    <div class="content" id="content">
			<div class="container">
				<div>
	  				<h3 class="display-6">Nouvel Article</h3>
				</div>
				<div v-if="message" class="alert-danger">
					{{message}}
				</div>
				<form name="form" @submit.prevent="handleRegister">
					<div class="form-group">
					  	<label>Titre</label>
					  	<input v-model="$v.ntitle.$model" type="text" class="form-control" name="titre"/>
					  	<div class="alert alert-danger" v-if="!$v.ntitle.required && $v.ntitle.$dirty">Ce champ doit être rempli</div>
					  	<div class="alert alert-danger" v-if="!$v.ntitle.minLength  && $v.ntitle.$dirty">Le Titre doit avoir au moins {{$v.ntitle.$params.minLength.min}} caractères.</div>
					  	<div class="alert alert-danger" v-if="!$v.ntitle.maxLength  && $v.ntitle.$dirty">Le Titre doit avoir maximum {{$v.ntitle.$params.maxLength.max}} caractères.</div>
					</div>
					<div class="form-group">
					  	<label>Contenu</label>
		  				<ckeditor name="content" :editor-url="editorUrl" v-model="$v.editorData.$model" :config="editorConfig"></ckeditor>
		  				<div class="alert alert-danger" v-if="!$v.editorData.required && $v.editorData.$dirty">Ce champ doit être rempli</div>
					  	<div class="alert alert-danger" v-if="!$v.editorData.minLength  && $v.editorData.$dirty">Le Contenu doit avoir au moins {{$v.editorData.$params.minLength.min}} caractères.</div>
					</div>	
					<div class="form-group">
					  	<label>Image principale</label>
		  				<input type="text" class="form-control" name="picture" v-model="$v.npic.$model" />
		  				<div class="alert alert-danger" v-if="!$v.npic.url && $v.npic.$dirty">Ce champ doit contenir une url</div>
					</div>	
					<div class="form-group">
					  	<label for="categorie">Catégorie</label>
					  	<select v-if="categories" v-model="article.categorie" type="select" class="form-control" name="categorie">
					  		<option v-for="categorie in  categories"  :value="categorie.id" :key="categorie.id">{{categorie.name}}</option>
					  	</select>
					</div>
					<label>Tags</label>
					<Select2 v-if="tagss" class="tags-select" v-model="createdTags" name="tags" :options="tagss" :settings="{ tags: true, multiple: true, data: data }" @change="addTag($event)"/>
					<button class="btn btn-primary btn-block btn-lg" :disabled="loading">
					    <span v-show="loading" class="spinner-border spinner-border-sm"></span>
					    <span>Enregistrer</span>
					</button>
				</form>
				
			</div>
		</div>
		<FooterComponent/>
	</div>	
</template>

<script>

import PostService from '../../services/post.service';
import TagService from '../../services/tag.service';
import SidebarComponent from '../../components/Sidebar.vue';
import Article from '../../models/article';
import $ from 'jquery';
import { required, minLength, maxLength, url } from 'vuelidate/lib/validators';
import FooterComponent from "../../components/Footer.vue";

	
export default {

	data(){
		return{
			article: new Article('','','','',''),
			editorData: '',
            editorUrl: "https://cdn.ckeditor.com/4.16.2/full-all/ckeditor.js",
            editorConfig: {},
            createdTags:[],
            message: '',
            submitted: false,
            loading:false,
            ntitle:'',
            npic:'',
		}
	},
	components:{
		SidebarComponent,
		FooterComponent,
	},
	//Validations du form coté client
	validations: {
	  ntitle: {
	    required,
	    minLength: minLength(2),
	    maxLength: maxLength(250),
	  },
	  editorData: {
	  	required,
	    minLength: minLength(20),
	  },
	  npic: {
	  	url
	  }
	},
	computed:{
		categories(){
			if(this.$store.state.categories.categories){
				return this.$store.state.categories.categories;
			}
			return false;
		},
		tagss(){
			if(this.$store.state.tags.tags){
				return this.$store.state.tags.tags;
			}
			return false;
		},
		data(){
			let data = $.map(this.tagss, function (obj) {
			  obj.text = obj.label; 

			  return obj;
			});
			return data;
		}
	},
	methods: {
		addTag(){
			let name = $(".select2-hidden-accessible").find("[data-select2-tag=true]");
			let old = [];
			$(".select2-hidden-accessible").children('option').each(function(){
				old.push($(this).text());
			});
			if(name.length){
				if($.inArray(name.text(), old)  !== -1){
					if ( confirm( "Voulez vous créer le skill "+ name.val() + " ou cliquez sur Annuler si c'était juste de la recherche") ) {
						TagService.createByArticle(name.val()).then(
							response => {
								name.replaceWith(`<option selected value="${response.data.id}">${name.val()}</option>`);
								this.$store.dispatch('tags/set');
								this.createdTags.pop();
								this.createdTags.push(response.data.id.toString());
							},
							error => {
							 	this.message = error.response.data["hydra:description"] || error.response.data.message;
							}
						);
					}
					else{
						name =null;
					}		
				}
				else{
					name = null;
				}	
			}
		},
	  handleRegister() {
	    this.message = '';
	    this.submitted = true;
	    this.createdTags.forEach(function(el, index, theArray){
        	theArray[index] = "/api/tags/" + el;
      	});
	    this.article.tags = this.createdTags;
	    this.article.picture = this.npic.trim();
	    this.article.content = this.editorData;
	    this.article.title = this.ntitle;
	    this.loading = true;
	    this.$v.$touch()
	      if (!this.$v.$invalid) {
	        PostService.create(this.article).then(
	          () => {
	            localStorage.setItem('message', 'Article créée avec succès!');
	            this.$router.push('/editor');
	            this.loading = false;
	          },
	          error => {
	            this.message = error.response.data["hydra:description"] || error.response.data.message;
	            this.loading = false;
	            this.createdTags = [];
	          }
	        );
	      }
	      else{
	      	this.message = "Le formulaire n'est pas valide";
	      	this.loading = false;
	      	this.createdTags = [];
	      }
	   
	  },
	  toggle(){
			const sidebar = document.getElementById("sidebar");
			const button = document.getElementById("menu");
			const content = document.getElementById("content");
			sidebar.classList.toggle("full");
			content.classList.toggle("none");
			button.classList.toggle("rotate");
		}
	}
};

</script>

<style scoped lang="scss">
	.main{
		position: static;

		.sidebar{
			position: fixed;
			max-width: 20vw;
			height: 100vh;
			background-color: #455a64;
			overflow-y:auto;
			padding-top: 6rem;
			transition:0.4s;

			@media (max-width: 800px) {
			  width:100vw;
			  max-width: 100vw;
			  transform: translate(-100vw);
			}
		}

		.content{
			position: relative;
			max-width: 80vw;
			min-height:90vh;
			margin-left: 20vw;
			background-color:#607d8b;
			padding-top: 6rem;
			transition:0.4s;

			@media (max-width: 800px) {
			  width:100vw;
			  max-width: 100vw;
			  margin: 0;
			}

			h3{
				padding-top:5%;
				text-align:center;
			}

			button{
				margin-top:2%;
				margin-bottom:2%;
			}

			.tags-select{
				@media (max-width: 800px) {
			  	  width:100%;
			  	}
			}

			.container{
				height: 100%;
			  	border: 1px solid lightgrey;
			  	border-radius:0.25rem;
			  	box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
			  	-webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
			  	-moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
			  	background-color:#cfd8dc;

			  	@media (max-width: 800px) {
			  	  width:95%;
			  	}
			}
		}

		.menu{
			position:fixed;
			bottom:15px;
			right:5px;
			background-color:#455a64;
			right:15px;
			z-index:1000;
			display:none;
			transition:0.4s;

			@media (max-width: 800px) {
			  display:block;
			}
		}

		.full{
			transform: translate(0);
		}

		.none{
			transform: translate(-100vw);
		}

		.rotate{
			transform: rotate(45deg);
			background-color:#607d8b;
		}
	}
</style>