<template>
  	<div class="container">
      	<h3>Liste des Articles</h3>
      	<div
            v-if="message"
            class="alert"
            :class="successful ? 'alert-success' : 'alert-danger'"
        >{{message}}</div>
        <div class="table-responsive">
        	<table class="table table-hover">
        	  <thead>
        	    <tr>
        	      <th scope="col" class="none-resp">ID</th>
        	      <th scope="col">Titre</th>
                <th scope="col" class="none-resp">Catégorie</th>
        	      <th scope="col" class="none-resp">Publié</th>
        	      <th scope="col"></th>
        	    </tr>
        	  </thead>
        	  <tbody>
        	    <tr v-for="article in articles" :key="article.id">
        	      <th scope="row" class="none-resp">{{ article.id }}</th>
        	      <td>{{ article.title }}</td>
                <td class="none-resp">{{ article.categorie.name }}</td>
                <td class="none-resp">{{ article.isPublished }}</td>
                <td>
                  <div class="cont-tb">  
                    <div class="elem-tb">  
                      <router-link class="btn btn-warning btn-lg" :to="`/article/${article.id}`">Voir</router-link>
                    </div>
                    <div class="elem-tb"> 
                      <button v-if="showSuperAdminRoutes" class="btn btn-danger btn-lg" @click.prevent="supprime(article.id)" >Supprimer</button>
                    </div>
                  </div>
                </td>
        	    </tr>
        	  </tbody>
        	</table>
        </div>
      	<div v-if="page">
      	  <ul class="pagination">
      	    <li v-if="ppage" class="page-item"><a class="page-link" @click.prevent="goToPrevious">Previous</a></li>
      	    <li v-if="ppage" class="page-item"><a class="page-link" @click.prevent="goToPrevious">{{page-1}}</a></li>
      	    <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
      	    <li v-if="npage" class="page-item"><a class="page-link" @click.prevent="goToNext">{{page+1}}</a></li>
      	    <li v-if="npage" class="page-item"><a class="page-link" @click.prevent="goToNext">Next</a></li>
      	  </ul>
      	</div>
  	</div>
</template>

<script>
import PostService from '../services/post.service';
import axios from 'axios';

const API_URL = 'https://blog.lockmark.fr';

export default {

  	data(){
    	return{
      		art: [],
      		successful:false,
      		message:'',
      		page:null,
      		ppage:null,
      		npage:null,
    	}
  	},
	computed:{
    	currentUser() {
      		if(this.$store.state.auth.user){
        		return this.$store.state.auth.user;
      		}
      		return false;
    	},
		articles(){
			return this.art
		},
    	showSuperAdminRoutes() {
      		if (this.currentUser && this.currentUser.roles.includes('ROLE_SUPER_ADMIN')) {
        		return this.currentUser.roles.includes('ROLE_SUPER_ADMIN');
      		}
      		return false;
    	},
	},
  	mounted(){
    	PostService.getAll().then(
        response=>{
    		  this.art = response.data["hydra:member"];
    		  if(response.data["hydra:view"]){
            	this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
            	this.ppage = response.data["hydra:view"]["hydra:previous"];
            	this.npage = response.data["hydra:view"]["hydra:next"];
          }
    	  },
        error => {
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      );
  	},
	methods:{
    	update(){
      		PostService.getAll().then(
            response=>{
      			  this.art = response.data["hydra:member"];
        			  if(response.data["hydra:view"]){
              		this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
              		this.ppage = response.data["hydra:view"]["hydra:previous"];
              		this.npage = response.data["hydra:view"]["hydra:next"];
          	    }
      		  },
            error => {
              this.message = error.response.data["hydra:description"] || error.response.data.message;
            }
          );
    	},
      toggle(){
          const sidebar = document.getElementById("sidebar");
          const button = document.getElementById("menu");
          const content = document.getElementById("content");
          sidebar.classList.toggle("full");
          content.classList.toggle("none");
          button.classList.toggle("rotate");
      },
    	goToNext(){
    	  	return axios.get(API_URL + this.npage ).then(
    	    	response => {
    	      		this.art = response.data["hydra:member"];
    	      		if(response.data["hydra:view"]){
    	        		this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
    	        		this.ppage = response.data["hydra:view"]["hydra:previous"];
    	        		this.npage = response.data["hydra:view"]["hydra:next"];
    	      		}
    	    	},
    	    	error => {
    	      		this.message = error.response.data["hydra:description"] || error.response.data.message;
    	    	}
    	  	)
    	},
    	goToPrevious(){
    	  	return axios.get(API_URL + this.ppage ).then(
    	    	response => {
    	      		this.art = response.data["hydra:member"];
    	      		if(response.data["hydra:view"]){
    	        		this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
    	        		this.ppage = response.data["hydra:view"]["hydra:previous"];
    	        		this.npage = response.data["hydra:view"]["hydra:next"];
    	      		}
    	    	},
    	    	error => {
    	    	  	this.message = error.response.data["hydra:description"] || error.response.data.message;
    	    	}
    	  	)
    	},
		supprime(id){
      if(confirm('T un rmal oupas?')){
  			PostService.delete(id).then(
  				response => {
  					this.successful = true;
  					this.message = 'Article supprimé avec succès';
  					this.update();
  					return response
         	},
          error => {
          	this.successful = false;
          	 this.message = error.response.data["hydra:description"] || error.response.data.message;
          }
  			);
      }
		}
	}
};
</script>

<style scoped lang="scss">
  h3{
      padding-top:5%;
      text-align:center;
    }

    button{
      margin-top:2%;
      margin-bottom:2%;
    }

    .container{
        border: 1px solid lightgrey;
        border-radius:0.25rem;
        box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
        background-color:#cfd8dc;

        @media (max-width: 800px) {
          width:95%;
        }
    }
    .cont-tb{
      display:flex;
      justify-content:space-around;

      @media (max-width: 800px) {
        flex-direction:column;
      }
    }
  .pagination{
    justify-content:center;
  }
  .none-resp{
    @media (max-width: 800px) {
      display:none;
    }
  }
</style>