<template>
	<div class="item">
		<div class="card">
		  <img class="card-img-top top-img" :src="article.picture" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">{{ article.title }}</h5>
		    <p class="card-text" :inner-html.prop="article.content | truncate(70, '...')"></p>
		    <div class="centre">
		    	<router-link class="btn btn-primary btn-lg" :to="`/article/${article.id}`">Lire la suite</router-link>
		    </div>
		  </div>
		</div>
	</div>	
</template>

<script>
	
export default {

	props: ['article'],
	filters: {
	    truncate: function (text, length, suffix) {
	    	if(text !== undefined){
	        	text = text.substring(0, length) + suffix;
	        	return text.trim()
	    	}
	    },
	}
};

</script>

<style scoped lang="scss">

	.item{
		@media (max-width: 800px) {
		  	width:100%;
		  	height:auto;
		}
	}
	.card{
		width:300px;
		margin-top:5%;
		margin-bottom:5%;
		box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
		-webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);

		@media (max-width: 800px) {
		  	width:100%;
		  	height:auto;
		}

		.card-body{
			.centre{
				a{
					display:block;
					margin:auto;
				}
			}
		}
	}
	.top-img{
		object-fit:contain;
		height:300px;
		max-width:300px;

		@media (max-width: 800px) {
		    width:100%;
		  	height:auto;
		}
	}
</style>