<template>
  	<div class="container">
      <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">
        {{message}}
      </div>
      	<h3>Liste des catégories</h3>
        <div class="table-responsive">  
      	<table class="table table-hover">
      	  <thead>
      	    <tr>
      	      <th scope="col">ID</th>
      	      <th scope="col">Nom</th>
      	      <th scope="col"></th>    
      	    </tr>
      	  </thead>
      	  <tbody>
      	    <tr v-for="categorie in categories" :key="categorie.id">
      	      <th scope="row">{{ categorie.id }}</th>
      	      <td>{{ categorie.name }}</td>
      	      <td>
                <div class="cont-tb">  
                  <div class="elem-tb">  
                    <router-link class="btn btn-warning btn-lg" :to="`/admin/categorie/${categorie.id}`">Modifier</router-link>
                  </div>
                  <div class="elem-tb"> 
                    <button class="btn btn-danger btn-lg" @click.prevent="supprime(categorie.id)" >Supprimer</button>
                  </div>
                </div>
              </td>
      	    </tr>
      	  </tbody>
      	</table>
        </div>
  	</div>
</template>

<script>
import CategorieService from '../services/categorie.service';

export default {

  data(){
    return{
      successful:false,
      message:'',
    }
  },
	computed:{
		categories(){
			if(this.$store.state.categories.categories){
        		return this.$store.state.categories.categories;
      		}
      		return false;
		}
	},
	methods:{
		supprime(id){
			CategorieService.delete(id).then(
				response => {
          this.successful = true;
          this.message = 'Catégorie supprimé avec succès';
					this.$store.dispatch('categories/set');
					return response
        },
        error => {
          this.successful = false;
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
			);
		}
	}
};
</script>

<style scoped lang="scss">
  h3{
    padding-top:5%;
    text-align:center;
  }

  button{
    margin-top:2%;
    margin-bottom:2%;
  }

  .container{
      border: 1px solid lightgrey;
      border-radius:0.25rem;
      box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      background-color:#cfd8dc;

      @media (max-width: 800px) {
        width:95%;
      }
  }
  .cont-tb{
    display:flex;
    justify-content:space-around;

    @media (max-width: 800px) {
      flex-direction:column;
    }
  }
</style>