<template>
  	<div class="container">
      	<h3>Liste des Commentaires</h3>
        <div
            v-if="message"
            class="alert"
            :class="successful ? 'alert-success' : 'alert-danger'"
        >{{message}}</div>
        <div class="table-responsive">
	      	<table class="table table-hover">
	      	  <thead>
	      	    <tr>
	      	      <th scope="col">ID</th>
	      	      <th scope="col">Auteur</th>
	      	      <th scope="col">Article</th>
	      	      <th scope="col">Date</th>
	              <th scope="col"></th>
	      	    </tr>
	      	  </thead>
	      	  <tbody>
	      	    <tr v-for="comment in comments" :key="comment.id">
	      	      <th scope="row">{{ comment.id }}</th>
	      	      <td>{{ comment.author.name }}</td>
	              <td>{{ comment.article }}</td>
	               <td>{{ comment.createdAt | dateFormatage }}</td>
	               <td>
	                 <div class="cont-tb">  
	                   <div class="elem-tb">  
	                     <router-link class="btn btn-warning btn-lg" :to="`/admin/comment/${comment.id}`">Voir</router-link>
	                   </div>
	                   <div class="elem-tb"> 
	                     <button class="btn btn-danger btn-lg" @click.prevent="supprime(comment.id)" >Supprimer</button>
	                   </div>
	                 </div>
	               </td>
	      	    </tr>
	      	  </tbody>
	      	</table>
        </div>
        <div v-if="page">
          <ul class="pagination">
            <li v-if="ppage" class="page-item"><a class="page-link" @click.prevent="goToPrevious">Previous</a></li>
            <li v-if="ppage" class="page-item"><a class="page-link" @click.prevent="goToPrevious">{{page-1}}</a></li>
            <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
            <li v-if="npage" class="page-item"><a class="page-link" @click.prevent="goToNext">{{page+1}}</a></li>
            <li v-if="npage" class="page-item"><a class="page-link" @click.prevent="goToNext">Next</a></li>
          </ul>
        </div>
  	</div>
</template>

<script>
import CommentService from '../services/comment.service';
import axios from 'axios';

const API_URL = 'https://blog.lockmark.fr';

export default {

  	data(){
    	return{
      		comms:[],
      		message: false,
      		successful: true,
      		page:null,
      		ppage:null,
      		npage:null,
    	}
  	},
	computed:{
		comments(){
			return this.comms;
		}
	},
	filters: {
	  	dateFormatage: function (date) {
	  		const options = {weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric", second: "numeric"};
	  		let tpdate = new Date(date);
	    	return Intl.DateTimeFormat('fr-FR', options).format(tpdate);
	  	}
	},
	mounted(){
	   	CommentService.getAll().then(
	   		response=>{
	      		this.comms = response.data["hydra:member"];
	      		if(response.data["hydra:view"]){
	        		this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
	        		this.ppage = response.data["hydra:view"]["hydra:previous"];
	        		this.npage = response.data["hydra:view"]["hydra:next"];
	      		}
	    	},
	    	error => {
	    	  	this.message = error.response.data["hydra:description"] || error.response.data.message;
	    	}
	    );
	    
	    let message = localStorage.getItem('message');
	    if(message !== null){
	      	this.message = message;
	    }
	    localStorage.removeItem('message');
	},
	methods:{
	    update(){
	      CommentService.getAll().then(
	      	response=>{
	        	this.comms = response.data["hydra:member"];
	        	if(response.data["hydra:view"]){
	          		this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
	          		this.ppage = response.data["hydra:view"]["hydra:previous"];
	          		this.npage = response.data["hydra:view"]["hydra:next"];
	        	}
	      	},
	      	error => {
	      	  	this.message = error.response.data["hydra:description"] || error.response.data.message;
	      	}
	      );
	    },
	    goToNext(){
	      return axios.get(API_URL + this.npage ).then(
	        response => {
	          this.comms = response.data["hydra:member"];
	          if(response.data["hydra:view"]){
	            this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
	            this.ppage = response.data["hydra:view"]["hydra:previous"];
	            this.npage = response.data["hydra:view"]["hydra:next"];
	          }
	        },
	        error => {
	          this.message = error.response.data["hydra:description"] || error.response.data.message;
	        }
	      )
	    },
	    goToPrevious(){
	      return axios.get(API_URL + this.ppage ).then(
	        response => {
	          this.comms = response.data["hydra:member"];
	          if(response.data["hydra:view"]){
	            this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
	            this.ppage = response.data["hydra:view"]["hydra:previous"];
	            this.npage = response.data["hydra:view"]["hydra:next"];
	          }
	        },
	        error => {
	          this.message = error.response.data["hydra:description"] || error.response.data.message;
	        }
	      )
	    },
		supprime(id){
			CommentService.delete(id).then(
				response => {
          			this.successful = true;
          			this.message = "Commentaire supprimé avec succès!"
          			this.update();
					return response
        		},
        		error => {
          			this.successful = false;
          			this.message = error.response.data["hydra:description"] || error.response.data.message;
        		}
			);
		}
	}
};
</script>

<style scoped lang="scss">
  h3{
      padding-top:5%;
      text-align:center;
    }

    button{
      margin-top:2%;
      margin-bottom:2%;
    }

    .container{
        border: 1px solid lightgrey;
        border-radius:0.25rem;
        box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
        background-color:#cfd8dc;

        @media (max-width: 800px) {
          width:95%;
        }
    }
    .cont-tb{
      display:flex;
      justify-content:space-around;

      @media (max-width: 800px) {
        flex-direction:column;
      }
    }
  .pagination{
    justify-content:center;
  }
  .none-resp{
    @media (max-width: 800px) {
      display:none;
    }
  }
</style>