<template>
	<div class="container">
	  <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">
	    {{message}}
	  </div>
	  <h3 class="display-6">Commentaires</h3>
	  <button v-if="showUserRoutes" class="btn btn-primary" @click.prevent="newComment">Écrire un Commentaire</button>
	  <div id="newComment" class="newComment">
	  	<form name="form" @submit.prevent="handleRegister">
		  	<div class="form-group">
		  		<textarea id="input" class="form-control" aria-label="With textarea" name="newComment" v-model="nouveauComment"></textarea>
		  	</div>
		  	<button v-if="showUserRoutes" class="btn btn-primary">Enregistrer</button>
		</form>
	  </div>
	  <div class="comments">
	  	<div :id="'comm-' + comment.id" class="comment" v-for="comment in mainComments" :key="comment.id">
	  		<div>
		  		<div>{{comment.author.name}}</div>
		  		<div>{{comment.createdAt | dateFormatage}}</div>
	  		</div>
	  		<div>{{comment.content}}</div>
	  		<a href="" v-if="showUserRoutes" @click.prevent="response(comment.id)">Répondre</a>
	  		<a href="" v-if="comment.response.length" @click.prevent="showResponses(comment.id)">Voir les réponses</a>
	  		<div class="allResponses">
	  			<div :id="'resp-' + response.id" v-for="response in comment.response" class="commentResponses" :key="response.id">
	  			  	<div>
	  				  	<div>{{response.author.name}}</div>
	  				  	<div>{{response.createdAt | dateFormatage}}</div>
	  			  	</div>
	  			  	<div>{{response.content}}</div>
	  			</div>
	  		</div>
	  		<div class="form-group response">
	  			<form name="formresponse" @submit.prevent="handleResponse(comment.id)">
	  				<textarea class="form-control" aria-label="With textarea" name="newresponse" v-model="newResponse"></textarea>
	  				<button v-if="showUserRoutes" class="btn btn-primary">Enregistrer</button>
	  			</form>
	  		</div>
	  	</div>
	  </div>	  
	  <div
	    	v-if="message"
	    	class="alert"
	    	:class="successful ? 'alert-success' : 'alert-danger'"
	  >{{message}}</div>
	</div>
</template>

<script>

import CommentService from '../services/comment.service';
import $ from 'jquery';

	
export default {

	props:{
		articleId: Number,
		comments: Array,
	},
	data(){
		return{
			nouveauComment:'',
			newResponse:'',
			message: '',
			successful: false,
			submitted: false,
		}
	},
	filters: {
	    dateFormatage: function (date) {
	      const options = {weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric", second: "numeric"};
	      let tpdate = new Date(date);
	      return Intl.DateTimeFormat('fr-FR', options).format(tpdate);
	    }
	},
	computed: {
		currentUser() {
		  if(this.$store.state.auth.user){
		    return this.$store.state.auth.user;
		  }
		  return false;
		},
		showUserRoutes() {
		  if (this.currentUser && this.currentUser.roles.includes('ROLE_USER')) {
		    return this.currentUser && this.currentUser.roles.includes('ROLE_USER');
		  }
		  return false;
		},
		mainComments() {
			if(this.comments){
				let commts = this.comments
				return commts.filter((el) => {
          			return (!el.parent === true)
      			}).sort(function(a,b){
        			return new Date(b.createdAt) - new Date(a.createdAt);
      			});
			}
		    return false
		},
	},
	methods: {
		newComment(){
			const form = document.getElementById('newComment');
			const input = document.getElementById('input');
			form.style.display='block';
			input.focus();
		},
		response(id){
			let commId = '#comm-' +id;
			let form = $(commId).find('.response');
			let input = form.find('textarea');
			form[0].style.display='block';
			input.focus();
		},
		showResponses(id){
			let commId = '#comm-' +id;
			let resps = $(commId).find('.allResponses');
			resps[0].style.display='block';
		},
		handleRegister(){
			this.message = '';
			this.submitted = true;
			this.$validator.validate().then(isValid => {
			  if (isValid) {
			    CommentService.create(this.nouveauComment, this.articleId, null).then(
			      () => {
			        this.message = "Commentaire publié avec succès!";
			        this.successful = true;
			        this.$emit('update',{});
			        const form = document.getElementById('newComment');
			        form.style.display='none';
			      },
			      error => {
			        this.message = error.response.data["hydra:description"] || error.response.data.message;
			        this.successful = false;
			      }
			    );
			  }
			});
		},
		handleResponse(id){
			this.message = '';
			this.submitted = true;
			let parent = '/api/comments/' + id;
			this.$validator.validate().then(isValid => {
			  if (isValid) {
			    CommentService.create(this.newResponse, this.articleId, parent).then(
			      () => {
			        this.message = "Réponse publié avec succès!";
			        this.successful = true;
			        this.$emit('update',{});
			        this.showResponses(id);
			        let commId = '#comm-' +id;
			        let form = $(commId).find('.response');
			        form[0].style.display='none';
			      },
			      error => {
			        this.message = error.response.data["hydra:description"] || error.response.data.message;
			        this.successful = false;
			      }
			    );
			  }
			});
		}
	}
};

</script>

<style scoped lang="scss">
	.newComment{
		display:none;
	}
	.response{
		display:none;
	}
	.allResponses{
		display:none;
	}
	.commentResponses{
		border:2px solid white;
		padding-left:5%;
		margin:2%;
		padding-top:1%;
		border-radius:0.25rem;
	}
	.comment{
		border:2px solid white;
		margin:2%;
		padding-left:1%;
		padding-top:1%;
		border-radius:0.25rem;
	}
</style>