<template>
	<footer>
	  <div class="footer-flex">
	    <div>
	      <router-link to="/cgi">Conditions générales d'utilisation</router-link>
	    </div>
	    <div>
	      <a href="mailto:contact@cv.lockmark.fr">Contacter un admin</a>
	    </div>
	    <div>
	      <span><font-awesome-icon icon="cookie-bite"/></span>
	      <span style="margin-left:10px;">Ce site n'utilise pas de cookies tiers</span>
	    </div>
	  </div>
	</footer>
</template>

<script>
	
</script>

<style scoped lang="scss">
	footer{
	  max-width: 80vw;
	  background-color: #212529;
	  min-height:10vh;
	  margin-left:20vw;
	  height:auto;
	  color:rgba(255,255,255,.5) ;

	  @media (max-width: 800px) {
	    margin: 0;
	    max-width: 100vw;
	  }

	  a{
	    color:rgba(255,255,255,.5) ;
	    &:hover{
	    	color:rgba(255,255,255,.75) ;
	    	text-decoration:none;
	    }
	  }

	  .footer-flex{
	    min-height:10vh;
	    display:flex;
	    justify-content: space-around;
	    align-items:center;

	    @media (max-width: 800px) {
	      flex-direction:column;
	      padding-top:2%;
	      padding-bottom:2%;
	    }
	  }
	}
	
</style>