<template>
  <div class="container">
    <h1>Bienvenue sur le Sky-Zoo Blog</h1>
      <div class="spin-container">
        <div id="spin" class="spinner-border spinner-border-xl text-cust" style="width: 100px; height: 100px;"></div>
      </div>
      <div class="canvas-container">
        <div class="doublure-bordure"> 
         <canvas id="canvas" width="700" height="500" ref="canvas"></canvas>
        </div>
      </div>
      <h3>Le site est encore en construction</h3>
      <div class="contenu">
        <p>
          Le contenu est fictif pour l'instant, il sert aux tests fonctionnels et d'ergonomie du site. Il représente ce que sera ce blog à sa sortie, 
          mais rien n'est encore définitif.
        </p>
        <p>
          Le site est fonctionnel par contre. Tu peux t'inscrire, commenter, faire une demande pour devenir auteur, rédiger des articles, gérer tes articles etc... 
        </p>
        <p>
          Évidemment, tu peux également me proposer toutes sortes d'améliorations que tu souhaiterais que je mette en place sur le site.
        </p>
      </div>
  </div>
</template>

<script>


export default {

 data(){
    return{
      vueCanvas:null,
      leafColor:[],
    }
 },
 mounted() {
  if(window.innerWidth > 800){
    var c = document.getElementById("canvas");
    var ctx = c.getContext("2d");    
    this.vueCanvas = ctx;
    setTimeout(this.createRandomTree, 250);
    //this.createRandomTree();
  }
  },
  methods:{
    drawTree(startX, startY, len, angle, branchWidth, color1) {
        this.vueCanvas.lineWidth = branchWidth;
        this.vueCanvas.strokeStyle = color1;
        let colorR = this.leafColor[0]+Math.floor((Math.random()*40)-20);
        if (colorR > 255) {
          colorR = 255;
        }
        else if (colorR < 0) {
          colorR = 0;
        }
        let colorG = this.leafColor[1]+Math.floor((Math.random()*40)-20);
        if (colorG > 255) {
          colorG = 255;
        }
        else if (colorG < 0) {
          colorG = 0;
        }
        let colorB = this.leafColor[2]+Math.floor((Math.random()*40)-20);
        if (colorB > 255) {
          colorB = 255;
        }
        else if (colorB < 0) {
          colorB = 0;
        }
        this.vueCanvas.fillStyle = "rgb("+colorR+","+colorG+","+colorB+")";
        this.vueCanvas.shadowBlur = 15;
        this.vueCanvas.shadowColor = "rgba(0,0,0,0.5)";
        this.vueCanvas.beginPath();
        this.vueCanvas.save();
        this.vueCanvas.translate(startX, startY);
        this.vueCanvas.rotate(angle * Math.PI/180);
        this.vueCanvas.moveTo(0, 0);
        let min = Math.round((Math.random()*20)+5);
        let max = Math.round((Math.random()*20)+5);
        if(angle > 0) {
            this.vueCanvas.bezierCurveTo(max, -len/2, -min, -len/2, 0, -len);
        } else {
            this.vueCanvas.bezierCurveTo(-min, -len/2, max, -len/2, 0, -len);
        }
        this.vueCanvas.stroke();

        if(len < 10) {
          this.vueCanvas.beginPath();
          this.vueCanvas.arc(0, -len, 10, 0, Math.PI/2);
          this.vueCanvas.fill();
          this.vueCanvas.restore();
          return;
        }
        let curve1 = (Math.random()*10)+10;
        let curve2 = (Math.random()*10)+10;

        if (len < 30) {
          curve1 = (Math.random()*30)+30;
          curve2 = (Math.random()*30)+30;
        }
        if (len < 15) {
          this.drawTree(0, -len+1, len*0.8, angle, branchWidth*0.7);
        }
        if (len % 2 === 0) {
          this.drawTree(0, -len+1, len*0.8, angle+curve1, branchWidth*0.7);
          this.drawTree(0, -len+1, len*0.8, angle-curve2, branchWidth*0.7);
        }
        else {
          this.drawTree(0, -len+1, len*0.8, angle-curve1, branchWidth*0.7);
          this.drawTree(0, -len+1, len*0.8, angle+curve2, branchWidth*0.7);
        }
        
        this.vueCanvas.restore();
    },
    createRandomTree(){
      this.vueCanvas.clearRect(0,0,800,500);
      let len = Math.round((Math.random()*20)+85);
      let width = Math.round((Math.random()*25)+10);
      this.leafColor = [Math.round((Math.random()*255)),Math.round((Math.random()*255)),Math.round((Math.random()*255))];
      let trunkColor = "rgb("+Math.round((Math.random()*255))+","+Math.round((Math.random()*255))+","+Math.round((Math.random()*255))+")";
      this.drawTree(350, 505, len, 0, width, trunkColor);
      let canv = document.getElementsByClassName('canvas-container');
      let spinner = document.getElementsByClassName('spin-container');
      setTimeout(()=>{
        canv[0].style.display = "block";
        spinner[0].style.display = "none";
      }, 1000);
    }
  }
};
</script>

<style scoped lang="scss">
  .container{
    border: 1px solid lightgrey;
    border-radius:0.25rem;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
    padding-top: 2%;
    margin-top:2%;
    padding-bottom:2%;
    margin-bottom:2%;
    background-color:#cfd8dc;
    text-align:center;

    .contenu{
      font-size:130%;
    }

    .spin-container{
      height:542px;
      padding-top:200px;

      @media (max-width: 800px) {
        display:none;
      }
    }

    #spin{
      @media (max-width: 800px) {
        display:none;
      }
    }

    .canvas-container{
      height:542px;
      display:none;

      @media (max-width: 800px) {
        display:none;
      }
    }
    .doublure-bordure {
      margin:auto;
      height:532px;
      width:732px;
      border-radius:50%;
      border:6px solid #212529;
      background-color: #212529;

      @media (max-width: 800px) {
        display:none;
      }
    }
    #canvas{
      
      background-color: black;
      border-radius:50%;
      border:10px solid #ec7063;

      @media (max-width: 800px) {
        display:none;
      }
    }
  }
</style>
