<template>
  <div class="container">
    <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">
      {{message}}
    </div>
    <header class="jumbotron" v-if="currentUser">
      <h3> Bienvenue {{currentUser.username}}</h3>
      <div class="arts">
        Vous avez créé {{ currentUser.articles.length }} articles. 
        <pie-chart
          v-if="totalA"
          :other="otherA"
          :me="currentUser.articles.length"
        />
      </div>
      <div class="rls">
        Vous êtes {{ currentUser.roles }}
      </div>
      <div class="comms">
        vous avez publié {{ currentUser.comments.length }} commentaires
        <pie-chart
          v-if="totalC"
          :other="otherC"
          :me="currentUser.comments.length"
        />
      </div>
      <div class="bouton">
        <router-link class="btn btn-primary btn-lg" :to="`/admin/profil`">Modifier mes Données</router-link>
      </div>
    </header>
  </div>
</template>

<script>

import PieChart from './PieChart.vue'
import ChartsService from '../services/charts.service';

export default {

  data(){
    return{
      totalA:null,
      totalC:null,
      message:'',
      successful:false,
    }
  },
  computed: {
    currentUser() {
      if(this.$store.state.auth.user){
        return this.$store.state.auth.user;
      } 
      return false;
    } ,
    otherA() {
      if(this.$store.state.auth.user){
        return this.totalA - this.$store.state.auth.user.articles.length;
      } 
      return false;
    },
    otherC() {
      if(this.$store.state.auth.user){
        return this.totalC - this.$store.state.auth.user.comments.length;
      } 
      return false;
    }     
  },
  components: { PieChart },
  mounted(){
    ChartsService.getTotalArticles().then(
      response=>{
        this.totalA = response.data["hydra:totalItems"];
      },
      error => {
        this.message = error.response.data["hydra:description"] || error.response.data.message;
      }
    );
    ChartsService.getTotalComments().then(
      response=>{
        this.totalC = response.data["hydra:totalItems"];
      },
      error => {
        this.message = error.response.data["hydra:description"] || error.response.data.message;
      }
    );
  }
};
</script>

<style scoped lang="scss">
.container{
  padding-top:5%;

  h3{
    text-align:center;
    padding-top:2%;
    padding-bottom:2%;
  }

  .arts{
    text-align:center;
  }

  .rls{
    text-align:center;
  }

  .comms{
    text-align:center;
    padding-bottom:2%;
  }
}
.jumbotron{
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);

  .bouton{
    margin:auto;

    a{
      display:block;
      margin:auto;
    }
  }
}
</style>
