<template>
  	<div class="container">
      	<h3>Liste des Images</h3>
        <div
            v-if="message"
            :class="successful ? 'alert alert-success' : 'alert alert-danger'"
        >{{message}}</div>
      	<table class="table table-hover">
      	  <thead>
      	    <tr>
      	      <th scope="col" class="none-resp">ID</th>
              <th scope="col" class="none-resp">Url</th>
              <th scope="col">Aperçu</th>
      	      <th scope="col"></th>
      	    </tr>
      	  </thead>
      	  <tbody>
      	    <tr v-for="image in images" :key="image.id">
      	      <th scope="row" class="none-resp">{{ image.id }}</th>
              <td class="none-resp">{{ image.contentUrl }}</td>
              <td><img class="img" :src="'https://blog.lockmark.fr' + image.contentUrl"></td>
              <td>
                <div class="cont-tb">  
                  <div class="elem-tb">  
                    <router-link class="btn btn-warning btn-lg" :to="`/admin/image/${image.id}`">Voir</router-link>
                  </div>
                  <div class="elem-tb"> 
                    <button class="btn btn-danger btn-lg" @click.prevent="supprime(image.id)" >Supprimer</button>
                  </div>
                </div>
              </td>
      	    </tr>
      	  </tbody>
        </table>
  	</div>
</template>

<script>
import ImageService from '../services/image.service';

export default {

  data(){
    return{
      message:'',
      successful: false,
      imgs:[],
      imgsByUser:[],

    }
  },
	computed:{
    currentUser() {
      if(this.$store.state.auth.user){
        return this.$store.state.auth.user;
      }
      return false;
    },
		images(){
      if(this.currentUser && this.currentUser.roles.includes('ROLE_SUPER_ADMIN')){
        let imgs = this.imgs
        imgs.sort(function(a,b){
           return b.id - a.id;
        });
        return imgs;
      }
      else{
        let imgs = this.imgsByUser
        imgs.sort(function(a,b){
          return b.id - a.id;
        });
        return imgs;
      }
		},
	},
  mounted(){
    ImageService.getTotal().then(
      response => { 
        this.imgs = response.data;
      },
      error => {
        this.message = error.response.data["hydra:description"] || error.response.data.message;
      }
    );
    if(this.$store.state.auth.user){
      ImageService.getAll(this.$store.state.auth.user.id).then(
        response => { 
          this.imgsByUser = response.data
        },
        error => {
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      );
    }
    else{
      this.imgsByUser = [];
    }
  },
	methods:{
    update(){
      ImageService.getTotal().then(
        response => { 
          this.imgs = response.data
        }
      );
      ImageService.getAll(this.$store.state.auth.user.id).then(
        response => { 
          this.imgsByUser = response.data
        }
      );
    },
		supprime(id){
			ImageService.delete(id).then(
				response => {	
          this.message = "Image supprimée avec succès"	
          this.successful = true;		
          this.update();	
					return response
        },
        error => {
          this.successful = false;
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
			);
		}
	}
};
</script>

<style scoped lang="scss">
  .img{
    max-height: 55px;
    width: auto;
  }
  h3{
    padding-top:5%;
    text-align:center;
  }

  button{
    margin-top:2%;
    margin-bottom:2%;
  }

  .container{
      border: 1px solid lightgrey;
      border-radius:0.25rem;
      box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      background-color:#cfd8dc;

      @media (max-width: 800px) {
        width:95%;
      }
  }
  .cont-tb{
    display:flex;
    justify-content:space-around;

    @media (max-width: 800px) {
      flex-direction:column;
    }
  }
  .none-resp{
    @media (max-width: 800px) {
      display:none;
    }
  }
</style>