<template>
	<div class="jumbotron">
		<div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">
		  {{message}}
		</div>
		<div class="lien">	
		  <router-link class="showPost" :to="`/article/${article.id}`">
		    <h3 class="display-6">{{ article.title }}</h3>
		    <p class="lead" :inner-html.prop="article.content | truncate(100, '...')"></p>
		  </router-link>
		</div>
	  <hr class="my-4">
	  <p>Administration</p>
	  <div class="lead adm">
	    
	    <div><router-link class="btn btn-warning btn-lg" :to="`/admin/article/${article.id}`">Modifier</router-link></div>
	    <div><button class="btn btn-danger btn-lg" @click.prevent="supprime(article.id)" >Supprimer</button></div>
	  </div>
	</div>
</template>

<script>

import PostService from '../services/post.service';
	
export default {

	props: ['article'],
	data(){
		return{
			message:'',
			successful:false,
		}
	},
	methods:{
		supprime(id){
			PostService.delete(id).then(
				response => {
					this.$emit('update',{})
					return response
        		},
        		error => {
        		  	this.message = error.response.data["hydra:description"] || error.response.data.message;
        		}
			);
		}	
	},
	filters: {
	    truncate: function (text, length, suffix) {
	    	if(text !== undefined){
	        	return text.substring(0, length) + suffix;
	    	}
	    }
	}
};

</script>

<style scoped lang="scss">
.jumbotron{
	box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);

	h3{
		text-align:center;
	}

	.lead{
		text-align:center;
	}

	p{
		text-align:center;
	}

	.lien{
		border-radius:5px;
		background-color: #e9ecef;
		border:2px solid white;
		transition:0.4s;
		&:hover{
			background-color:#cfd8dc;
		}
	}

	.showPost{
		color: #212529;
		text-decoration:none;
	}

	.adm{
		display:flex;
		width:80%;
		margin:auto;
		justify-content:space-between;

		@media (max-width: 800px) {
			flex-direction:column;
		}

		.btn{
			width:200px;

			@media (max-width: 800px) {
				width:auto;
			  	margin-top:5%;
			}
		}
	}
}
</style>