<template>
	<div class="container">
    <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">
      {{message}}
    </div>
	  <MyArticleThumbComponent @update="update()"
	    v-for="article in articles"
	    v-bind:key="article.id"
	    v-bind:article="article"
	  ></MyArticleThumbComponent>
    <div v-if="page">
      <ul class="pagination">
        <li v-if="ppage" class="page-item"><a class="page-link" @click.prevent="goToPrevious">Previous</a></li>
        <li v-if="ppage" class="page-item"><a class="page-link" @click.prevent="goToPrevious">{{page-1}}</a></li>
        <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
        <li v-if="npage" class="page-item"><a class="page-link" @click.prevent="goToNext">{{page+1}}</a></li>
        <li v-if="npage" class="page-item"><a class="page-link" @click.prevent="goToNext">Next</a></li>
      </ul>
    </div>
	</div>
</template>

<script>
import MyArticleThumbComponent from '../components/MyArticleThumb.vue';
import UserService from '../services/user.service';
import axios from 'axios';

const API_URL = 'https://blog.lockmark.fr';

export default {
  data() {
    return {
      posts: [],
      page:null,
      ppage:null,
      npage:null,
      message:'',
      successful:false,
    };
  },
  computed:{
    articles(){
      return this.posts
    },
    user(){
      if(this.$store.state.auth.user){
        return this.$store.state.auth.user;
      }
      return false;
    }
  },
  components:{
    MyArticleThumbComponent
  },
  methods:{
    update(){
      UserService.getMyArticles(this.user.id).then(
        response => {
          this.posts = response.data["hydra:member"];
          if(response.data["hydra:view"]){
            this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
            this.ppage = response.data["hydra:view"]["hydra:previous"];
            this.npage = response.data["hydra:view"]["hydra:next"];
          }
        },
        error => {
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      )
    },
    goToNext(){
      return axios.get(API_URL + this.npage ).then(
        response => {
          this.posts = response.data["hydra:member"];
          if(response.data["hydra:view"]){
            this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
            this.ppage = response.data["hydra:view"]["hydra:previous"];
            this.npage = response.data["hydra:view"]["hydra:next"];
          }
        },
        error => {
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      )
    },
    goToPrevious(){
      return axios.get(API_URL + this.ppage ).then(
        response => {
          this.posts = response.data["hydra:member"];
          if(response.data["hydra:view"]){
            this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
            this.ppage = response.data["hydra:view"]["hydra:previous"];
            this.npage = response.data["hydra:view"]["hydra:next"];
          }
        },
        error => {
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      )
    }
  },
  mounted() { 
    UserService.getMyArticles(this.user.id).then(
      response => {
        this.posts = response.data["hydra:member"];
        if(response.data["hydra:view"]){
          this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
          this.ppage = response.data["hydra:view"]["hydra:previous"];
          this.npage = response.data["hydra:view"]["hydra:next"];
        }
      },
      error => {
        this.message = error.response.data["hydra:description"] || error.response.data.message;
      }
    )
  }
};
</script>

<style scoped lang="scss">
  .container{
   background-color:#607d8b;
  }
  .pagination{
    justify-content:center;
  }
</style>