<script>
import { Doughnut } from 'vue-chartjs'

export default {
  extends: Doughnut,
  props: ['other', 'me'],
  data() {
    return{
      chartdata: {
        labels: ['Moi', 'Autres'],
        datasets: [
          {
            backgroundColor: ['#7dcea0','#ec7063'],
            data: [this.me, this.other]
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  mounted () {
    this.renderChart(this.chartdata, this.options)
  }
};

</script>

<style>
</style>
