<template> 
  <div class="total"> 
    <ul id="sections">
      <li v-if="showAdminRoutes || showSuperAdminRoutes"><router-link to="/admin/categories">Catégories</router-link>
        <ul>
          <li v-if="showAdminRoutes || showSuperAdminRoutes" class="sub"><router-link to="/admin/categorie/create">Ajouter</router-link></li>
        </ul>
      </li>
      <li v-if="showAdminRoutes || showSuperAdminRoutes"><router-link to="/admin/tags">Tags</router-link>
        <ul>
          <li v-if="showAdminRoutes || showSuperAdminRoutes" class="sub"><router-link to="/admin/tag/create">Ajouter</router-link></li>
        </ul>
      </li>
      <li v-if="showAdminRoutes || showSuperAdminRoutes"><router-link to="/admin/articles">Articles</router-link>
        <ul>
          <li class="sub" v-if="showAdminRoutes || showSuperAdminRoutes"><router-link to="/admin/articles/publiables">En attente</router-link></li>
        </ul>
      </li>
      <li v-if="showAdminRoutes || showSuperAdminRoutes"><router-link to="/admin/comments">Commentaires</router-link>
      <li v-if="showAdminRoutes"><router-link to="/admin/users">Utilisateurs</router-link></li>
      <li v-if="showSuperAdminRoutes"><router-link to="/superadmin/users">Utilisateurs</router-link></li>
      <li><router-link to="/admin/images">Images</router-link>
        <div class="custom-file">
          <input type="file" class="custom-file-input" ref="file" id="customFile" @change="setFile">
          <label class="custom-file-label" for="customFile">{{file.name}}</label>
          <div class="form-group">
            <button class="btn btn-primary" :disabled="loadingUpload" @click.prevent="upload">
              <span v-show="loadingUpload" class="spinner-border spinner-border-sm"></span>
              <span>Upload</span>
            </button>
          </div>
        </div>
        <div
          v-if="message"
          class="alert uploadMsg"
          :class="successful ? 'alert-success' : 'alert-danger'"
        >{{message}}</div>  
        <button id="show" class="btn btn-primary" :disabled="loadingListH" @click.prevent="setImg">
          <span v-show="loadingListH" class="spinner-border spinner-border-sm"></span>
          <span><font-awesome-icon icon="angle-down" /></span>
        </button>
        <button id="hidde" class="btn btn-primary" :disabled="loading" @click.prevent="hiddeImg">
          <span v-show="loading" class="spinner-border spinner-border-sm"></span>
          <span><font-awesome-icon icon="angle-up" /></span>
        </button>
        <div id="liste">
          <ul class="l-img">
            <li v-for="image in images" :key="image.id" value="image.contentUrl">
              <img class="img" :src="'https://blog.lockmark.fr' + image.contentUrl"/>
              <input type="text" name="copy" :id="'https://blog.lockmark.fr' + image.contentUrl" :value="'https://blog.lockmark.fr' + image.contentUrl">
              <button class="btn btn-primary hiddencopybutton"  v-on:click="copyurl('https://blog.lockmark.fr' + image.contentUrl)">
                <font-awesome-icon icon="copy" />
              </button>
            </li>
          </ul>
          
        </div>
      </li>
    </ul>
  </div>
</template>

<script>

import ImageService from '../services/image.service';
//import $ from 'jquery';

export default {

  data(){
    return{
      file: '',
      img:[],
      message: '',
      submitted: false,
      successful: false,
      loading:false,
      loadingListH:false,
      loadingUpload:false,
    }
  },
  computed: {
    currentUser() {
      if(this.$store.state.auth.user){
        return this.$store.state.auth.user;
      }
      return false;
    },
    images(){
        return this.img;
    },
    showSuperAdminRoutes() {
      if (this.currentUser && this.currentUser.roles.includes('ROLE_SUPER_ADMIN')) {
        return this.currentUser.roles.includes('ROLE_SUPER_ADMIN');
      }
      return false;
    },
    showAdminRoutes() {
      if (this.currentUser && this.currentUser.roles.includes('ROLE_ADMIN')) {
        return this.currentUser && this.currentUser.roles.includes('ROLE_ADMIN');
      }
      return false;
    },
  },
  
  methods:{
  	copyurl(message){
  		let text = message;
  		const input = document.getElementById(text);
  		input.focus();
  		input.select();
  		document.execCommand("copy");
  	},
    hiddeImg(){
      let buttonShow = document.getElementById('show');
      let buttonHidde = document.getElementById('hidde');
      let liste = document.getElementById('liste');
      buttonShow.style.display = 'block';
      buttonHidde.style.display = 'none';
      liste.style.display = 'none';
    },
    setImg(){
      this.loadingListH = true;
      if(this.$store.state.auth.user){
        ImageService.getAll(this.currentUser.id)
          .then(
            response => {
              this.img = response.data;
              let buttonShow = document.getElementById('show');
              let buttonHidde = document.getElementById('hidde');
              let liste = document.getElementById('liste');
              buttonShow.style.display = 'none';
              buttonHidde.style.display = 'block';
              liste.style.display = 'block';
              this.loadingListH = false;
            },
            error => {
              this.message = error.response.data["hydra:description"] || error.response.data.message;
              this.loadingListH = false;
            }
          );
      }
      return false;
    },
    setFile(){
      this.file = this.$refs.file.files[0];
    },
    upload(){
      this.loadingUpload = true;
      this.message = '';
      this.submitted = true;
      this.$validator.validate().then(isValid => {
        if (isValid) {
          let formData = new FormData();
          formData.append('file', this.file);
          ImageService.create(formData).then(
            () => {
              this.message = "Image créée avec succès!";
              this.successful = true;
              this.setImg();
              this.loadingUpload = false;
            },
            error => {
              this.message = error.response.data["hydra:description"] || error.response.data.message;
              this.successful = false;
              this.loadingUpload = false;
            }
          );
        }
      });
    }
  }
};
</script>
<style scoped lang="scss">
  #hidde{
    display:none;
  }
  .hiddencopy{
  	display:none;
  }
  .uploadMsg{
    margin-top:5%;
  }
  ul{
    padding:0;
    list-style-type: none;
  }
  li{
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;

    button{
      margin:5%;
    }
    a{
      color: white;
      font-size: 120%;
    }
  }

  .sub{
    margin-left:20px;
  }

  .l-img{
    list-style-type:none;
    font-size: 60%;
    padding-left:0;
    .img{
      height: 30px;
      width: 30px;
    }
  }
  
</style>