<template>
  	<div class="container">
      	<h3>Liste des Tags</h3>
        <div
            v-if="message"
            class="alert"
            :class="successful ? 'alert-success' : 'alert-danger'"
        >{{message}}</div>
        <div class="table-responsive">
        	<table class="table table-hover">
        	  <thead>
        	    <tr>
        	      <th scope="col">ID</th>
        	      <th scope="col">Nom</th>
        	      <th scope="col"></th>
        	    </tr>
        	  </thead>
        	  <tbody>
        	    <tr v-for="tag in tags" :key="tag.id">
        	      <th scope="row">{{ tag.id }}</th>
        	      <td>{{ tag.label }}</td>
                <td>
                  <div class="cont-tb">  
                    <div class="elem-tb">  
                      <router-link class="btn btn-warning btn-lg" :to="`/admin/tag/${tag.id}`">Modifier</router-link>
                    </div>
                    <div class="elem-tb"> 
                      <button class="btn btn-danger btn-lg" @click.prevent="supprime(tag.id)" >Supprimer</button>
                    </div>
                  </div>
                </td>
        	    </tr>
        	  </tbody>
        	</table>
        </div>
  	</div>
</template>

<script>
import TagService from '../services/tag.service';

export default {

  data(){
    return{
      message:'',
      successful: false,
    }
  },
	computed:{
		tags(){
			if(this.$store.state.tags.tags){
        let tgs = this.$store.state.tags.tags
        tgs.sort(function(a,b){ 
          return b.id - a.id;
        });
        return tgs;
      }
      return false;
		}
	},
	methods:{
		supprime(id){
			TagService.delete(id).then(
				response => {
          this.message = "Tag supprimé avec succès"  
          this.successful = true;   
					this.$store.dispatch('tags/set');
					return response
        },
        error => {
          this.successful = false;
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
			);
		},
    toggle(){
      const sidebar = document.getElementById("sidebar");
      const button = document.getElementById("menu");
      const content = document.getElementById("content");
      sidebar.classList.toggle("full");
      content.classList.toggle("none");
      button.classList.toggle("rotate");
    }
	}
};
</script>

<style scoped lang="scss">
  h3{
    padding-top:5%;
    text-align:center;
  }

  button{
    margin-top:2%;
    margin-bottom:2%;
  }

  .container{
      border: 1px solid lightgrey;
      border-radius:0.25rem;
      box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      background-color:#cfd8dc;

      @media (max-width: 800px) {
        width:95%;
      }
  }
  .cont-tb{
    display:flex;
    justify-content:space-around;

    @media (max-width: 800px) {
      flex-direction:column;
    }
  }
</style>