<template>
  	<div class="container">
      	<h3>Liste des utilisateurs</h3>
        <div
            v-if="message"
            class="alert"
            :class="successful ? 'alert-success' : 'alert-danger'"
        >{{message}}</div>
      	<table v-if="showSuperAdminRoutes" class="table table-hover">
      	  <thead>
      	    <tr>
      	      <th scope="col">ID</th>
      	      <th scope="col">Nom</th>
              <th scope="col" class="none-resp">Pseudo</th>
              <th scope="col" class="none-resp">Email</th>
              <th scope="col" class="none-resp">Roles</th>
      	      <th scope="col"></th>
      	    </tr>
      	  </thead>
      	  <tbody>
      	    <tr v-for="user in users" :key="user.id">
      	      <th scope="row">{{ user.id }}</th>
      	      <td>{{ user.name }}</td>
              <td class="none-resp">{{ user.username }}</td>
              <td class="none-resp">{{ user.email }}</td>
              <td class="none-resp"><span v-for="role in user.roles" :key="role"> {{ role }} </span></td>
              <td>
                <div class="cont-tb">  
                  <div class="elem-tb">  
                    <router-link class="button btn btn-warning btn-lg" :to="`/superadmin/user/${user.id}`">Modifier</router-link>
                  </div>
                  <div class="elem-tb"> 
                    <button class="button btn btn-danger btn-lg" @click.prevent="supprime(user.id)" >Supprimer</button>
                  </div>
                </div>
              </td>
      	    </tr>
      	  </tbody>
      	</table>
		<table v-if="showAdminRoutes" class="table table-hover">
      	  <thead>
      	    <tr>
      	      <th scope="col">ID</th>
      	      <th scope="col">Nom</th>
              <th scope="col" class="none-resp">Pseudo</th>
              <th scope="col" class="none-resp">Email</th>
              <th scope="col" class="none-resp">Roles</th>
      	      <th scope="col"></th>
      	    </tr>
      	  </thead>
      	  <tbody>
      	    <tr v-for="user in ausers" :key="user.id">
      	      <th scope="row">{{ user.id }}</th>
      	      <td>{{ user.name }}</td>
              <td class="none-resp">{{ user.username }}</td>
              <td class="none-resp">{{ user.email }}</td>
              <td class="none-resp"><span v-for="role in user.roles" :key="role"> {{ role }} </span></td>
      	      <td><router-link class="button btn btn-warning btn-lg" :to="`/admin/user/${user.id}`">Modifier</router-link></td>
      	    </tr>
      	  </tbody>
      	</table>
        <div v-if="page">
          <ul class="pagination">
            <li v-if="ppage" class="page-item"><a class="page-link" @click.prevent="goToPrevious">Previous</a></li>
            <li v-if="ppage" class="page-item"><a class="page-link" @click.prevent="goToPrevious">{{page-1}}</a></li>
            <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
            <li v-if="npage" class="page-item"><a class="page-link" @click.prevent="goToNext">{{page+1}}</a></li>
            <li v-if="npage" class="page-item"><a class="page-link" @click.prevent="goToNext">Next</a></li>
          </ul>
        </div>
  	</div>
</template>

<script>
import UserService from '../services/user.service';
import axios from 'axios';

const API_URL = 'https://blog.lockmark.fr';

export default {

  data(){
    return {
      usr: [],
      message:'',
      successful: false,
      page:null,
      ppage:null,
      npage:null,
    }
  },
	computed:{
		users(){
			return this.usr
		},
		ausers(){
			return this.usr.filter((el) => {
				let els = el.roles.includes('ROLE_SUPER_ADMIN') || el.roles.includes('ROLE_ADMIN');
          		return !els
     		})
		},
		currentUser() {
      		if(this.$store.state.auth.user){
        		return this.$store.state.auth.user;
      		}
      		return false;
    	},
    showSuperAdminRoutes() {
    		if (this.currentUser && this.currentUser.roles.includes('ROLE_SUPER_ADMIN')) {
      		return this.currentUser.roles.includes('ROLE_SUPER_ADMIN');
    		}
    		return false;
    },
    showAdminRoutes() {
    		if (this.currentUser && this.currentUser.roles.includes('ROLE_ADMIN')) {
      		return this.currentUser && this.currentUser.roles.includes('ROLE_ADMIN');
    		}
    		return false;
    },
	},
	methods:{
		supprime(id){
			UserService.delete(id).then(
				response => {
          this.message = "Utilisateur supprimé avec succès"  
          this.successful = true;   
					this.update();
					return response
        },
        error => {
          this.successful = false;
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
			);
		},
    goToNext(){
      return axios.get(API_URL + this.npage ).then(
        response => {
          this.comms = response.data["hydra:member"];
          if(response.data["hydra:view"]){
            this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
            this.ppage = response.data["hydra:view"]["hydra:previous"];
            this.npage = response.data["hydra:view"]["hydra:next"];
          }
        },
        error => {
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      )
    },
    goToPrevious(){
      return axios.get(API_URL + this.ppage ).then(
        response => {
          this.comms = response.data["hydra:member"];
          if(response.data["hydra:view"]){
            this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
            this.ppage = response.data["hydra:view"]["hydra:previous"];
            this.npage = response.data["hydra:view"]["hydra:next"];
          }
        },
        error => {
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      )
    },
    update(){
      UserService.getAll().then(
        response => {
          this.usr = response.data["hydra:member"];
          if(response.data["hydra:view"]){
            this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
            this.ppage = response.data["hydra:view"]["hydra:previous"];
            this.npage = response.data["hydra:view"]["hydra:next"];
          }
        },
        error => {
          this.message = error.response.data["hydra:description"] || error.response.data.message;
        }
      )
    }
	},
  mounted() { 
    UserService.getAll().then(
      response => {
        this.usr = response.data["hydra:member"];
        if(response.data["hydra:view"]){
          this.page = parseInt(response.data["hydra:view"]["@id"].substring(response.data["hydra:view"]["@id"].length -1), 10);
          this.ppage = response.data["hydra:view"]["hydra:previous"];
          this.npage = response.data["hydra:view"]["hydra:next"];
        }
      },
      error => {
        this.message = error.response.data["hydra:description"] || error.response.data.message;
      }
    )
  }
};
</script>

<style scoped lang="scss">
  h3{
    padding-top:5%;
    text-align:center;
  }

  .container{
      border: 1px solid lightgrey;
      border-radius:0.25rem;
      box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
      background-color:#cfd8dc;

      @media (max-width: 800px) {
        width:95%;
      }
  }
  .cont-tb{
    display:flex;
    justify-content:space-around;

    @media (max-width: 800px) {
      flex-direction:column;
    }

    .button{
      margin-top:2% !important;
      margin-bottom:2% !important;
      margin-left:2% !important;
      margin-right:2% !important;
    }
  }
  .pagination{
    justify-content:center;
  }
  .none-resp{
    @media (max-width: 800px) {
      display:none;
    }
  }
</style>