<template>
  	<div id="app">
            <nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark" >
              <router-link to="/home" class="navbar-brand">
                <img src="@/assets/skyzoologo_blanc.png" width="50px">
              </router-link>
                <button id="bouton-menu1" type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                      <router-link to="/home" class="nav-item nav-link">
                          <font-awesome-icon icon="home" /> Home
                      </router-link>
                      <div class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Catégories
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div v-for="categorie in categories" :key="categorie.id">
                              <router-link class="dropdown-link" :to="`/categorie/${categorie.id}`"> {{categorie.name}}</router-link>
                            </div>
                          </div>
                      </div>
                    <router-link v-if="showAdminBoard" to="/admin" class="nav-item nav-link">
                        <font-awesome-icon icon="user-ninja" /> Admin
                    </router-link>
                      <router-link v-if="showSuperAdminBoard" to="/superadmin" class="nav-item nav-link">
                          <font-awesome-icon icon="user-secret" /> SuperAdmin
                      </router-link>
                      <router-link v-if="showEditorBoard" to="/editor" class="nav-item nav-link">
                        <font-awesome-icon icon="feather-alt" /> Mes Articles
                      </router-link>
                  </div>
                    <form class="form-inline ml-auto" @submit.prevent="search">
                       <input class="search form-control mr-sm-2" type="search" v-model="searchq" placeholder="Search" aria-label="Search">
                       <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <div class="navbar-nav">
                        <router-link v-if="!currentUser" to="/register" class="nav-item nav-link">
                          <font-awesome-icon icon="user-plus" /> Sign Up
                        </router-link>
                        <router-link v-if="!currentUser" to="/login" class="nav-item nav-link">
                          <font-awesome-icon icon="sign-in-alt" /> Login
                        </router-link>
                        <router-link v-if="currentUser" to="/profile" class="nav-item nav-link">
                          <font-awesome-icon icon="user" /> {{ username }}
                        </router-link>
                        <a v-if="currentUser" class="nav-item nav-link" href @click.prevent="logOut">
                          <font-awesome-icon icon="sign-out-alt" /> LogOut
                        </a>      
                    </div> 
                </div>
            </nav>

            <router-view />
        
	</div>
</template>

<script>

export default {

  data(){
    return{
      username:'',
      searchq:'',
    }
  },
  computed: {
    currentUser() {
      if(this.$store.state.auth.user){
        return this.$store.state.auth.user;
      }
      return false;
    },
    categories(){
      if(this.$store.state.categories.categories){
        return this.$store.state.categories.categories;
      }
      return false;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser.roles.includes('ROLE_ADMIN')) {
        return this.currentUser && this.currentUser.roles.includes('ROLE_ADMIN');
      }

      return false;
    },
    showSuperAdminBoard() {
      if (this.currentUser && this.currentUser.roles.includes('ROLE_SUPER_ADMIN')) {
        return this.currentUser.roles.includes('ROLE_SUPER_ADMIN');
      }

      return false;
    },
    showEditorBoard() {
      if (this.currentUser && this.currentUser.roles.includes('ROLE_EDITOR')) {
        return this.currentUser.roles.includes('ROLE_EDITOR');
      }

      return false;
    }
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
      window.localStorage.removeItem('role');
    },
    search(){
    	this.$store.dispatch('search/setTitle', this.searchq);
    	this.$store.dispatch('search/setTags', this.searchq);
    	if(this.$route.fullPath !== "/search"){
    		this.$router.push('/search');
    	}
    }
  },
  mounted() {
    this.$store.dispatch('auth/set');
    this.$store.dispatch('categories/set');
    this.$store.dispatch('tags/set');
  },
  updated(){
      this.username = this.currentUser.username;
      window.localStorage.setItem('role', this.currentUser.roles);
  }
};
</script>

<style lang="scss">

html{
  background-color:#607d8b;
}
body{
  background-color:#607d8b;

  #app{
    background-color:#607d8b;
    min-height: 100vh;
  }
}
.text-cust{
  color: #ec7063 !important;
}

.search{
  background-color:#e9ecef !important;
  &:focus{
    box-shadow: 0 0 0 .2rem #7fb3d5 !important;
  }
}
.btn-outline-primary{
  border-color: #7fb3d5  !important;
  color: #7fb3d5  !important;
  &:hover{
    background-color: #7fb3d5 !important;
    border-color: #5499c7 !important;
    color:rgba(0,0,0,.6) !important;
  }
  &:focus{
    box-shadow: 0 0 0 .2rem #7fb3d5 !important;
  }
}
.btn-primary{
  background-color: #5499c7 !important;
  border-color: #5499c7  !important;
  &:hover{
    background-color: #7fb3d5 !important;
    border-color: #7fb3d5 !important;
  }
  &:focus{
    box-shadow: 0 0 0 .2rem #a9cce3 !important;
  }
}
.btn-warning{
  background-color: #5499c7 !important;
  border-color: #5499c7  !important;
  color:white !important;
  &:hover{
    background-color: #7fb3d5 !important;
    border-color: #7fb3d5 !important;
  }
  &:focus{
    box-shadow: 0 0 0 .2rem #a9cce3 !important;
  }
}
.btn-danger{
  background-color: #ec7063  !important;
  border-color: #ec7063  !important;
  &:hover{
    background-color: #e74c3c !important;
    border-color: #e74c3c !important;
  }
  &:focus{
    box-shadow: 0 0 0 .2rem  #f5b7b1 !important;
  }
}
.nav-link{
	padding: 1rem !important;
}
ul {
  list-style-type: none;
  padding: 0;
}
.container{
	margin-bottom:2%;
}

.page-link{
  color:rgba(0,0,0,.6) !important;
  font-weight:bold;
  &:hover{
    cursor:pointer;
    color:rgba(0,0,0,.4) !important;
  }
}

.dropdown-menu{
  border: none !important;
  padding-top:1px !important;
  padding-bottom:1px !important;
  background-color:transparent !important;
  .dropdown-link{
    transition:0.4s;
    color: #212529;
    text-decoration: none;
    margin:3%;
    padding-left:20px !important;
    border: 2px solid white;
    border-color:white;
    background-color: #e9ecef;
    border-radius:5px;
    width:100%;
    height:100%;
    display:block;

    &:hover{
      background-color: #cfd8dc;
    }

    @media (max-width: 800px) {
        width:90%;
      }
  }
}
</style>