<template>
  <div>
    <div class="content">
      <div class="tot">
        <div class="col-md-12">
          <div class="card card-container">
            <img
              id="profile-img"
              src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
              class="profile-img-card"
            />
            <form name="form" @submit.prevent="handleLogin">
              <div class="form-group">
                <label>Username</label>
                <input v-model="$v.username.$model" type="text" class="form-control" name="username"/>
                <div class="alert alert-danger" v-if="!$v.username.required  && $v.username.$dirty">Ce champ doit être rempli</div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input v-model="$v.password.$model" type="password" class="form-control" name="password" />
                <div class="alert alert-danger" v-if="!$v.password.required && $v.password.$dirty">Ce champ doit être rempli</div>
                <div class="alert alert-danger" v-if="!$v.password.minLength  && $v.password.$dirty">Le password doit avoir au moins {{$v.password.$params.minLength.min}} caractères.</div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" :disabled="loading">
                  <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                  <span>Login</span>
                </button>
              </div>
              <div class="form-group">
                <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'" role="alert">{{message}}</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      <FooterComponentNoS/>
    
  </div>
  
</template>

<script>
import User from '../../models/user';
import { required, minLength } from 'vuelidate/lib/validators';
import FooterComponentNoS from "../../components/FooterNoS.vue";

export default {
  name: 'Login',
  data() {
    return {
      user:new User('',''),
      username:'',
      password:'',
      loading: false,
      message: '',
      successful: true,
    };
  },
  components:{
    FooterComponentNoS,
  },
  computed: {
  	currentUser() {
      if(this.$store.state.auth.user){
        return this.$store.state.auth.user;
      }
      return false;
    },
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  mounted(){
    //Récupération des messages venu d'autres pages
    let message = localStorage.getItem('message');
    if(message !== null){
      this.message = message;
    }
    localStorage.removeItem('message');
  },
  //Validations du form coté client
  validations: {
    username: {
      required
    },
    password: {
      required,
      minLength: minLength(4)
    }
  },
  methods: {
    //Connexion de l'utilisateur
    handleLogin() {
      this.loading = true;
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.user.username = this.username;
        this.user.password = this.password
        if (this.user.username && this.user.password) {
          this.$store.dispatch('auth/login', this.user).then(
            () => {
              //Pour éviter la navigation depuis l'url, voir le router
              window.localStorage.setItem('role', this.currentUser.roles);
              this.$router.push('/profile');
            },
            error => {
              this.loading = false;
              this.successful = false;
              this.message = error.response.data.message;
     
            }
          );
        }
      }
      else{
      	this.loading = false;
      }  
    }
  }
};
</script>

<style scoped>
.content{
  min-height: 90vh;
  padding-top: 6rem;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.tot{
  min-height:100%;
}
</style>
