<template>
  <div>
    <div class="content">
      <div class="container">
        <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">
          {{message}}
        </div>
        <header class="jumbotron" v-if="currentUser">
          <h3>
            <strong >{{currentUser.username}}</strong> Profile
          </h3>
          <img
            id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card"
          />
          <p>
            <strong>Email:</strong>
            {{currentUser.email}}
          </p>
        </header>
        <div class="arts">
          Vous avez créé {{ currentUser.articles.length }} articles. 
          <pie-chart
            v-if="totalA"
            :other="otherA"
            :me="currentUser.articles.length"
          />
        </div>
        <div class="rls">
          Vous êtes {{ currentUser.roles }}
        </div>
        <div class="comms">
          vous avez publié {{ currentUser.comments.length }} commentaires
          <pie-chart
              v-if="totalC"
              :other="otherC"
              :me="currentUser.comments.length"
          />
        </div>
        <div class="bouton">
          <router-link class="btn btn-primary btn-lg" :to="`/admin/profil`">Modifier mes Données</router-link>
        </div>
      </div>
    </div>
      <FooterComponentNoS/>
    
  </div>
  
</template>

<script>

import PieChart from '../../components/PieChart.vue'
import ChartsService from '../../services/charts.service';
import FooterComponentNoS from "../../components/FooterNoS.vue";

export default {

  data(){
    return{
      totalA:null,
      totalC:null,
      message:'',
      successful:false,
    }
  },
  computed: {
    currentUser() {
      if(this.$store.state.auth.user){
        return this.$store.state.auth.user;
      } 
      return false;
    } ,
    otherA() {
      if(this.$store.state.auth.user){
        return this.totalA - this.$store.state.auth.user.articles.length;
      } 
      return false;
    },
    otherC() {
      if(this.$store.state.auth.user){
        return this.totalC - this.$store.state.auth.user.comments.length;
      } 
      return false;
    }     
  },
  components: {
    PieChart,
    FooterComponentNoS,
  },
  mounted(){
    ChartsService.getTotalArticles().then(
      response=>{
        this.totalA = response.data["hydra:totalItems"];
      },
      error => {
        this.message = error.response.data["hydra:description"] || error.response.data.message;
      }
    );
    ChartsService.getTotalComments().then(
      response=>{
        this.totalC = response.data["hydra:totalItems"];
      },
      error => {
        this.message = error.response.data["hydra:description"] || error.response.data.message;
      }
    );
  }
};
</script>

<style scoped lang="scss">
.content{
  padding-top: 6rem;
  min-height: 90vh;
}
.container{
  padding-top: 2%;
  padding-bottom:2%;
  margin-top:2%;
  margin-bottom:2%;
  border: 1px solid lightgrey;
  border-radius:0.25rem;
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
   background-color:#cfd8dc;
  text-align: center;

   @media (max-width: 800px) {
      width:90%;
      
  }

  img{
    display:block;
    margin:auto;
    margin-bottom:2%;
    border-radius:50%;
    border: 1px solid grey;
    width:10%;
  }


  h3{
    text-align:center;
    padding-top:2%;
    padding-bottom:2%;
  }

  .arts{
    text-align:center;
  }

  .rls{
    text-align:center;
  }

  .comms{
    text-align:center;
    padding-bottom:2%;
  }

  .bouton{
    margin:auto;

    a{
      display:block;
      margin:auto;
    }
  }
}
.jumbotron{
  border:2px solid white;
}
</style>


