<template>
  <div>
    <div class="content">
      <div class="container">
        <div
            v-if="message"
            class="alert"
            :class="successful ? 'alert-success' : 'alert-danger'"
        >{{message}}</div>
        <div
            v-if="messagePass"
            class="alert"
            :class="successful ? 'alert-success' : 'alert-danger'"
        >{{messagePass}}</div>
        <header class="jumbotron">
          <h3>
            <strong >{{currentUser.username}}</strong> Profile
          </h3>
          <img
            id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card"
          />
        </header>
        <form name="form" @submit.prevent="handleRegister">
           <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" v-model="$v.newUsername.$model">
            <div class="alert alert-danger" v-if="!$v.newUsername.minLength  && $v.newUsername.$dirty">Le username doit avoir au moins {{$v.newUsername.$params.minLength.min}} caractères.</div>
            <div class="alert alert-danger" v-if="!$v.newUsername.maxLength  && $v.newUsername.$dirty">Le username doit avoir maximum {{$v.newUsername.$params.maxLength.max}} caractères.</div>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" v-model="$v.name.$model">
            <div class="alert alert-danger" v-if="!$v.name.required  && $v.name.$dirty">Ce champ doit être rempli</div>
            <div class="alert alert-danger" v-if="!$v.name.minLength  && $v.name.$dirty">Le nom doit avoir au moins {{$v.name.$params.minLength.min}} caractères.</div>
            <div class="alert alert-danger" v-if="!$v.name.maxLength  && $v.name.$dirty">Le nom doit avoir maximum {{$v.name.$params.maxLength.max}} caractères.</div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" v-model="$v.email.$model">
            <div class="alert alert-danger" v-if="!$v.email.required  && $v.email.$dirty">Ce champ doit être rempli</div>
            <div class="alert alert-danger" v-if="!$v.email.email  && $v.email.$dirty">L'adresse email n'est pas valide</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" v-model="$v.password.$model">
            <div class="alert alert-danger" v-if="!$v.password.minLength  && $v.password.$dirty">Le mot de passe doit avoir au moins {{$v.password.$params.minLength.min}} caractères.</div>
            <label for="passwordVerify">Confirmation password</label>
            <input class="form-control" type="password" name="passwordVerify" v-model="$v.passwordConfirm.$model">
            <div class="alert alert-danger" v-if="!$v.passwordConfirm.minLength  && $v.passwordConfirm.$dirty">Le mot de passe doit avoir au moins {{$v.passwordConfirm.$params.minLength.min}} caractères.</div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block btn-lg" :disabled="loading">
                  <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                  <span>Enregistrer</span>
              </button>
          </div>
        </form> 
      </div>
      
    </div>
    
    <FooterComponentNoS/>
  </div>
</template>

<script>

import UserService from '../../services/user.service';
import { required, minLength, maxLength, email } from 'vuelidate/lib/validators';
import FooterComponentNoS from "../../components/FooterNoS.vue";

export default{  
  data(){
    return{
      user:{
        name: null,
      },
      newUsername:'',
      name:'',
      email:'',
      password:'',
      passwordConfirm:'',
      loading: false,
      username:'',
      message:'',
      messagePass:'',
      successful:false
    }
  },
  components:{
    FooterComponentNoS,
  },
  computed:{
    currentUser(){
      if(this.$store.state.auth.user){
        return this.$store.state.auth.user;
      }
      return false;
    }  
  },
  updated(){    
    //Mise à jour du composant pour le rechargement de page
    if(this.$store.state.auth.user && this.user.name === null){
        this.user.name = this.currentUser.name;
        this.user.username = this.currentUser.username;
        this.user.email = this.currentUser.email;
        this.username = this.currentUser.username;
        this.newUsername = this.currentUser.username;
        this.name = this.currentUser.name;
        this.email = this.currentUser.email;
    }
  },
  //Création des data à la création du composant
  mounted(){
    if(this.$store.state.auth.user){
      this.username = this.$store.state.auth.user.username
      this.newUsername = this.$store.state.auth.user.username;
      this.name = this.$store.state.auth.user.name;
      this.email = this.$store.state.auth.user.email;
    }
  },
  //Validations du form coté client
  validations: {
    newUsername: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(50)
    },
    name: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(100)
    },
    email: {
      required,
      email,
    },
    password: {
      minLength: minLength(4)
    },
    passwordConfirm: {
      minLength: minLength(4)
    }
  },
  methods: {
    //Enregistrement du mot de passe
    handleRegister(){
      this.loading = true;
      if(this.password && this.password !== null && this.password === this.passwordConfirm){
        this.user.name = this.name;
        this.user.username = this.newUsername;
        this.user.email = this.email;
        this.user.password = this.password;
        this.$v.$touch()
        if (!this.$v.$invalid) {
          UserService.updatePassword(this.currentUser.id, this.user).then(
            () => {
             this.messagePass = "Mot de passe modifié avec succès!";
             this.successful = true;
             this.loading = false;
             this.password = '';
             this.passwordConfirm = '';
            },
            error => {
              this.message = error.response.data["hydra:description"] || error.response.data.message;
              this.successful = false;
              this.loading = false;
            }
          );
        }
      }
      //Enregistrement des données
      if(this.email !== this.currentUser.email || this.name !== this.currentUser.name || this.newUsername !== this.currentUser.username){ 
        this.user.name = this.name;
        this.user.username = this.newUsername;
        this.user.email = this.email;
        this.$v.$touch()
        if (!this.$v.$invalid) {
          UserService.updateProfile(this.currentUser.id, this.user).then(
            () => {
              this.message = "Profil modifié avec succès!";
              this.successful = true;
              this.loading = false;
              this.$store.dispatch('auth/set', this.user);
              //Doit se relogger si changement du pseudo
              if(this.username !== this.newUsername){
                localStorage.setItem('message', 'Profil modifié avec succès! Vous devez vous reconnecter!');
                this.$store.dispatch('auth/logout');
                this.$router.push('/login');
              }
            },
            error => {
              this.message = error.response.data["hydra:description"] || error.response.data.message;
              this.successful = false;
              this.loading = false;
            }
          );
        }
      }
    }
  }
};
</script>

<style scoped lang="scss">
.content{
  padding-top: 6rem;
  min-height: 90vh;

  .container{
    height: 100%;
    padding-top:2%;
    margin-top:2%;
    margin-bottom:2%;
    border: 1px solid lightgrey;
    border-radius:0.25rem;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
     background-color:#cfd8dc;

     @media (max-width: 800px) {
        width:90%;
        
    }

    h3{
      text-align:center;
    }

    button{
      display:block;
      margin:auto;
    }

    img{
      display:block;
      margin:auto;
      border-radius:50%;
      border: 1px solid grey;
      width:10%;
    }
  }

}

.jumbotron{
  border:2px solid white;
}
</style>
