<template>
  <div>
    <div class="content">
      <div class="tot">
        <div class="col-md-12">
          <div class="card card-container">
            <img
              id="profile-img"
              src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
              class="profile-img-card"
            />
            <form name="form" @submit.prevent="handleRegister">
              <div v-if="!successful">
                <div class="form-group">
                  <label>Username</label>
                  <input v-model="$v.username.$model" type="text" class="form-control" name="username"/>
                  <div class="alert alert-danger" v-if="!$v.username.required  && $v.username.$dirty">Ce champ doit être rempli</div>
                  <div class="alert alert-danger" v-if="!$v.username.minLength  && $v.username.$dirty">Le username doit avoir au moins {{$v.username.$params.minLength.min}} caractères.</div>
                  <div class="alert alert-danger" v-if="!$v.username.maxLength  && $v.username.$dirty">Le username doit avoir maximum {{$v.username.$params.maxLength.max}} caractères.</div>
                </div> 
                <div class="form-group">
                  <label>Nom</label>
                  <input v-model="$v.name.$model" type="text" class="form-control" name="name"/>
                  <div class="alert alert-danger" v-if="!$v.name.required  && $v.name.$dirty">Ce champ doit être rempli</div>
                  <div class="alert alert-danger" v-if="!$v.name.minLength  && $v.name.$dirty">Le nom doit avoir au moins {{$v.name.$params.minLength.min}} caractères.</div>
                  <div class="alert alert-danger" v-if="!$v.name.maxLength  && $v.name.$dirty">Le nom doit avoir maximum {{$v.name.$params.maxLength.max}} caractères.</div>
                </div> 
                <div class="form-group">
                  <label>Email</label>
                  <input v-model="$v.email.$model" type="email" class="form-control" name="email"/>
                  <div class="alert alert-danger" v-if="!$v.email.required  && $v.email.$dirty">Ce champ doit être rempli</div>
                  <div class="alert alert-danger" v-if="!$v.email.email  && $v.email.$dirty">L'adresse email n'est pas valide</div>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input v-model="$v.password.$model" type="password" class="form-control" name="password"/>
                  <div class="alert alert-danger" v-if="!$v.password.required && $v.password.$dirty">Ce champ doit être rempli</div>
                  <div class="alert alert-danger" v-if="!$v.password.minLength  && $v.password.$dirty">Le mot de passe doit avoir au moins {{$v.password.$params.minLength.min}} caractères.</div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block" :disabled="loading">
                    <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                    <span>Sign up</span>
                  </button>
                </div>
              </div>
            </form>

            <div
              v-if="message"
              class="alert"
              :class="successful ? 'alert-success' : 'alert-danger'"
            >{{message}}</div>
            <div v-if="successful">
              <router-link to="/login" class="btn btn-primary btn-block">
                Connectez vous
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
      <FooterComponentNoS/>
    
  </div>
  
</template>

<script>
import User from '../../models/user';
import { required, minLength, maxLength, email } from 'vuelidate/lib/validators';
import FooterComponentNoS from "../../components/FooterNoS.vue";

export default {
  name: 'Register',
  data() {
    return {
      user: new User('', '', ''),
      username:'',
      name:'',
      email:'',
      password:'',
      loading: false,
      submitted: false,
      successful: false,
      message: ''
    };
  },
  components:{
    FooterComponentNoS,
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  mounted() {
    //Si utilisateur loggé redirigé vers profile
    if (this.loggedIn) {
      this.$router.push('/profile');
    }
  },
  //Validations du form coté client
  validations: {
    username: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(50)
    },
    name: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(100)
    },
    email: {
      required,
      email,
    },
    password: {
      required,
      minLength: minLength(4)
    }
  },
  methods: {
    //Enregistrement d'un nouvel Utilisateur
    handleRegister() {
      this.message = '';
      this.submitted = true;
      this.loading = true;
      this.user.username = this.username;
      this.user.name = this.name;
      this.user.email = this.email;
      this.user.password = this.password;
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.$store.dispatch('auth/register', this.user).then(
          data => {
            this.message = "Vous avez bien créé l'utilisateur " + data.username;
            this.successful = true;
            this.loading = false;
          },
          error => {
            this.message = error.response.data["hydra:description"] || error.response.data.message;
            this.successful = false;
            this.loading = false;
          }
        );
      }
    }
  }
};
</script>

<style scoped>
.content{
  min-height: 90vh;
  padding-top: 6rem;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.tot{
  min-height:100%;
}
</style>
