<template>
	<div class="main">
	    <div class="sidebar" id="sidebar">
	      <SidebarComponent/>
	    </div>
	    <div class="menu btn" id="menu" @click.prevent="toggle"><font-awesome-icon icon="plus" /></div>
        <div v-if="showSuperAdminRoutes" class="content" id="content">
            <div class="tot">
        		<div class="container">
        			<h3>Modification de l'utilisateur {{ user.name }}</h3>
        			<div
        			  	v-if="message"
        			  	class="alert"
        			  	:class="successful ? 'alert-success' : 'alert-danger'"
        				>{{message}}
        			</div>
        			<form name="form" @submit.prevent="handleRegister">
        				<p>{{ user.name }}</p>
        				<p>{{ user.username }}</p>
        				<p>{{ user.email }}</p>
        				<div  v-for="role in roles" :key="role" class="form-check">
        				  <input class="form-check-input" type="checkbox" :value="role" >
        				  <label class="form-check-label" for="role">
        				    {{ role }}
        				  </label>
        				</div>
        				<button class="btn btn-primary btn-block btn-lg" :disabled="loading">
        			    	<span v-show="loading" class="spinner-border spinner-border-sm"></span>
        			    	<span>Enregistrer</span>
        				</button>
        			</form>
        		</div>
        	</div>
        </div>
        <div v-if="showAdminRoutes" class="content" id="aContent">
        	<div class="tot">
        		<div class="container">
        			<h3>Modification de l'utilisateur {{ user.name }}</h3>
        			<div
        			  	v-if="message"
        			  	class="alert"
        			  	:class="successful ? 'alert-success' : 'alert-danger'"
        				>{{message}}
        			</div>
        			<form name="form" @submit.prevent="handleRegister">
        				<p>{{ user.name }}</p>
        				<p>{{ user.username }}</p>
        				<p>{{ user.email }}</p>
        				<div  v-for="role in aroles" :key="role" class="form-check">
        				  <input class="form-check-input" type="checkbox" :value="role" >
        				  <label class="form-check-label" for="role">
        				    {{ role }}
        				  </label>
        				</div>
        				<div class="form-group">
        					<button class="btn btn-primary btn-block btn-lg" :disabled="loading">
        				    	<span v-show="loading" class="spinner-border spinner-border-sm"></span>
        				    	<span>Enregistrer</span>
        					</button>
        				</div>
        			</form>
        		</div>
        	</div>
        </div>
        <FooterComponent/>
	</div>	
</template>

<script>

import UserService from '../../services/user.service';
import SidebarComponent from '../../components/Sidebar.vue';
import FooterComponent from "../../components/Footer.vue";
import $ from 'jquery';


	
export default {

	data(){
		return{
			usr:{},
			submitted: false,
			successful: false,
			loading:false,
			message: '',
			roles: ['ROLE_EDITOR','ROLE_ADMIN'],
			aroles: ['ROLE_EDITOR']
		}
	},
	computed:{
		user(){
		  return this.usr
		},
		currentUser() {
      		if(this.$store.state.auth.user){
        		return this.$store.state.auth.user;
      		}
      		return false;
    	},
    	showSuperAdminRoutes() {
      		if (this.currentUser && this.currentUser.roles.includes('ROLE_SUPER_ADMIN')) {
        		return this.currentUser.roles.includes('ROLE_SUPER_ADMIN');
      		}
      		return false;
    	},
    	showAdminRoutes() {
      		if (this.currentUser && this.currentUser.roles.includes('ROLE_ADMIN')) {
        		return this.currentUser && this.currentUser.roles.includes('ROLE_ADMIN');
      		}
      		return false;
    	},
	},
	components:{
		SidebarComponent,
		FooterComponent,
	},
	mounted(){
		UserService.getOne(this.$route.params.id).then(
        	response => {
          		this.usr = response.data; 
        	},
        	error => {
        	  	this.message = error.response.data["hydra:description"] || error.response.data.message;
        	}
      	) 
	},
	updated(){ 
      	let r = this.user.roles;
      	let checkbox = $(":input");
      	   		
      	checkbox.each(function(){
      	  
      	let v = $.inArray($(this).val(), r)
      	   	if(v !== -1){
      	   		this.setAttribute("checked", "checked");
      	   	}
      	})
    
	},
	methods: {
	  	handleRegister() {
	    	this.message = '';
	    	this.submitted = true;
	    	this.loading = true;
	    	let rolesModified = ["ROLE_USER"];
	    	$('input[type=checkbox]:checked').each(function(){
	    		rolesModified.push($(this).val());
	    	})
	    	if (rolesModified.includes("ROLE_USER") || rolesModified.includes("ROLE_EDITOR") || rolesModified.includes("ROLE_ADMIN")) {
	        	UserService.update(this.$route.params.id, rolesModified).then(
	          		() => {
	            		this.message = "Utilisateur modifiée avec succès!";
	            		this.successful = true;
	            		this.loading = false;
	            		this.update();
	          		},
	          		error => {
	            		this.message = error.response.data["hydra:description"] || error.response.data.message;
	            		this.successful = false;
	            		this.loading = false;
	          		}
	        	);
	      	}
	  	},
	  	update(){
	  		UserService.getOne(this.$route.params.id).then(
	  	   		response => {
	  	       		this.usr = response.data; 
	  	   		}
	  		) 
	  	},
	  	toggle(){
	  		const sidebar = document.getElementById("sidebar");
	  		const button = document.getElementById("menu");
	  		const content = document.getElementById("content");
	  		const aContent = document.getElementById("aContent");
	  		sidebar.classList.toggle("full");
	  		if (content !== null) {
	  			content.classList.toggle("none");
	  		}
	  		else if (aContent !== null) {
	  			aContent.classList.toggle("none");
	  		}
	  		button.classList.toggle("rotate");
	  	}
	}
};

</script>

<style scoped lang="scss">
	.main{
		position: static;

		.sidebar{
			position: fixed;
			max-width: 20vw;
			height: 100vh;
			background-color: #455a64;
			overflow-y:auto;
			padding-top: 6rem;
			transition:0.4s;

			@media (max-width: 800px) {
			  width:100vw;
			  max-width: 100vw;
			  transform: translate(-100vw);
			}
		}
		.content{
			position: relative;
			max-width: 80vw;
			min-height:90vh;
			margin-left: 20vw;
			background-color:#607d8b;
			padding-top: 6rem;
			transition:0.4s;

			@media (max-width: 800px) {
			  width:100%;
			  margin: 0;
			  max-width: 100vw;
			   
			}
	
			h3{
				padding-top:5%;
			}

			button{
				margin-top:2%;
				margin-bottom:2%;
			}

			.tot{
				min-height:100%;
			}

			.container{
			  border: 1px solid lightgrey;
			  border-radius:0.25rem;
			  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
			  -webkit-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
			  -moz-box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
			  background-color:#cfd8dc;

			  @media (max-width: 800px) {
			    width:95%;
			  }
			}
		}
		.menu{
			position:fixed;
			bottom:15px;
			right:5px;
			background-color:#455a64;
			right:15px;
			z-index:1000;
			display:none;
			transition:0.4s;

			@media (max-width: 800px) {
			  display:block;
			}
		}

		.full{
			transform: translate(0);
		}

		.none{
			transform: translate(-100vw);
		}

		.rotate{
			transform: rotate(45deg);
			background-color:#607d8b;
		}
	}
</style>